tasks/Risikoanalyse/Risk AI - FMEA Config V4 copy - ohne Supabase.json
{
  "name": "Risk AI - FMEA Config V4 copy - ohne Supabase",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3680,
        928
      ],
      "id": "699c17cb-f065-4262-b8c8-57f4a9cd267d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\"teilanlage_nr\": \"20TA41\",\n  \"bezeichnung\": \"Ethylacetatproduktion\",\n        \"location\": {\n      \"site\": \"Produktionswerk Süd\",\n      \"building\": \"Produktionshalle B\",\n      \"room\": \"Reaktorraum R1\",\n      \"floor\": \"EG\",\n      \"area\": \"Synthesebereich\",\n      \"isOutdoor\": false\n    },\n    \"processDescription\": {\n      \"description\": \"Batch-Synthese von Ethylacetat aus Ethanol und Essigsäure mit Schwefelsäure-Katalyse (Fischer-Veresterung). Reaktionstemperatur 80-100 °C, Druck 1-1.2 bar. Gleichgewichtsreaktion mit kontinuierlicher Wasserabtrennung durch azeotrope Destillation. Vollautomatisiert mit DCS (Siemens PCS7), Ex-Zone 1.\",\n      \"operatingMode\": \"Batch (diskontinuierlich)\",\n      \"purpose\": \"Produktion von Ethylacetat (technisch rein, > 99.5 %) im Produktionsmaßstab für Lackierereien und chemische Industrie\",\n      \"additionalNotes\": \"Anlage unterliegt der 12. BImSchV (Störfall-Verordnung), Grundpflichten. Ex-Zone 1 im gesamten Anlagenbereich. Zutritt nur für unterwiesenes Personal.\"      \n    },\n    \"systems\": [\n      {\n        \"name\": \"Synthesereaktor R-101\",\n        \"type\": \"main\",\n        \"description\": \"Edelstahl Batch-Reaktor mit Destillationskolonne, 500L Nennvolumen, vollautomatisiert\",\n        \"location\": {\n          \"site\": \"Produktionswerk Süd\",\n          \"building\": \"Produktionshalle B\",\n          \"room\": \"Reaktorraum R1\",\n          \"floor\": \"EG\",\n          \"area\": \"Synthesebereich\",\n          \"isOutdoor\": false\n        },\n        \"parameters\": {\n          \"Nennvolumen\": \"500 L\",\n          \"Material\": \"Stainless Steel 1.4571 (316Ti)\",\n          \"MaxFüllvolumen\": \"400 L\",\n          \"ExZone\": \"Zone 1\"\n        },\n        \"designData\": [\n          {\n            \"key\": \"MinTemperatur\",\n            \"label\": \"Min. Temperatur\",\n            \"value\": \"-20\",\n            \"unit\": \"°C\"\n          },\n          {\n            \"key\": \"MaxTemperatur\",\n            \"label\": \"Max. Temperatur\",\n            \"value\": \"180\",\n            \"unit\": \"°C\"\n          },\n          {\n            \"key\": \"MinDruck\",\n            \"label\": \"Min. Druck\",\n            \"value\": \"-0.9\",\n            \"unit\": \"bar\"\n          },\n          {\n            \"key\": \"MaxDruck\",\n            \"label\": \"Max. Druck\",\n            \"value\": \"6\",\n            \"unit\": \"bar\"\n          },\n          {\n            \"key\": \"Nennvolumen\",\n            \"label\": \"Nennvolumen\",\n            \"value\": \"500\",\n            \"unit\": \"L\"\n          },\n          {\n            \"key\": \"Material\",\n            \"label\": \"Material\",\n            \"value\": \"Stainless Steel 1.4571 (316Ti)\",\n            \"unit\": \"\"\n          }\n        ],\n        \"processConditions\": {\n          \"Betriebstemperatur\": \"80 °C\",\n          \"MinBetriebstemperatur\": \"20 °C\",\n          \"MaxBetriebstemperatur\": \"100 °C\",\n          \"Betriebsdruck\": \"1 bar\",\n          \"MinBetriebsdruck\": \"0.5 bar\",\n          \"MaxBetriebsdruck\": \"1.2 bar\"\n        },\n        \"hasCompleteDesignData\": true,\n        \"hasExtendedParameters\": true,\n        \"createdBy\": \"user\",\n        \"equipment\": [\n          {\n            \"name\": \"Heizmantel HM-101\",\n            \"type\": \"Dampfmantel\",\n            \"position\": \"Mantel\",\n            \"driveType\": null,\n            \"parameters\": {\n              \"MaxTemperatur\": \"160 °C\",\n              \"Dampfdruck\": \"6 bar\",\n              \"Medium\": \"Sattdampf\",\n              \"Heizfläche\": \"2.5 m²\"\n            }\n          },\n          {\n            \"name\": \"Kühlmantel KM-101\",\n            \"type\": \"Kühlwassermantel\",\n            \"position\": \"Mantel\",\n            \"driveType\": null,\n            \"parameters\": {\n              \"MinTemperatur\": \"10 °C\",\n              \"Durchfluss\": \"500 L/h\",\n              \"EmergencyCooling\": \"Sole -10 °C\",\n              \"Kühlfläche\": \"2.5 m²\"\n            }\n          },\n          {\n            \"name\": \"Rührwerk RW-101\",\n            \"type\": \"Ankerrührer\",\n            \"position\": \"Zentral\",\n            \"driveType\": \"elektrisch\",\n            \"parameters\": {\n              \"MaxDrehzahl\": \"200 U/min\",\n              \"MinDrehzahl\": \"10 U/min\",\n              \"Leistung\": \"5 kW\",\n              \"ExSchutz\": \"ATEX Zone 1\",\n              \"Wellendurchmesser\": \"60 mm\"\n            }\n          },\n          {\n            \"name\": \"Destillationskolonne K-101\",\n            \"type\": \"Packungskolonne\",\n            \"position\": \"Kopf\",\n            \"driveType\": null,\n            \"parameters\": {\n              \"TheoretischeBöden\": \"10 Stück\",\n              \"Höhe\": \"3 m\",\n              \"Durchmesser\": \"200 mm\",\n              \"Packung\": \"Strukturpackung Mellapak 250Y\"\n            }\n          },\n          {\n            \"name\": \"Kondensator KD-101\",\n            \"type\": \"Rohrbündel-Wärmetauscher\",\n            \"position\": \"Kolonnenkopf\",\n            \"driveType\": null,\n            \"parameters\": {\n              \"Fläche\": \"5 m²\",\n              \"Kühlmedium\": \"Kühlwasser\",\n              \"Rohrseitig\": \"Produkt\",\n              \"Mantelseitig\": \"Kühlwasser\"\n            }\n          },\n          {\n            \"name\": \"Kondensator KD-102\",\n            \"type\": \"Rohrbündel-Wärmetauscher\",\n            \"position\": \"Kolonnenkopf\",\n            \"driveType\": null,\n            \"parameters\": {\n              \"Fläche\": \"8 m²\",\n              \"Kühlmedium\": \"Kühlwasser\",\n              \"Rohrseitig\": \"Produkt\",\n              \"Mantelseitig\": \"Kühlwasser\"\n            }\n          },\n          {\n            \"name\": \"Destillatvorlage DV-101\",\n            \"type\": \"Edelstahl-Vorlage\",\n            \"position\": \"Ausgang\",\n            \"driveType\": null,\n            \"parameters\": {\n              \"Volumen\": \"50 L\",\n              \"Inhalt\": \"Ethylacetat\",\n              \"Material\": \"1.4571\"\n            }\n          },\n          {\n            \"name\": \"Destillatvorlage DV-102\",\n            \"type\": \"Edelstahl-Vorlage\",\n            \"position\": \"Ausgang\",\n            \"driveType\": null,\n            \"parameters\": {\n              \"Volumen\": \"50 L\",\n              \"Inhalt\": \"Wasser\",\n              \"Material\": \"1.4571\"\n            }\n          }\n        ],\n        \"msrEquipment\": [\n          {\n            \"name\": \"TIC-401\",\n            \"type\": \"Temperaturfühler\",\n            \"position\": \"Prozess\",\n            \"signalType\": \"4-20 mA\",\n            \"sil\": \"SIL-1\",\n            \"atex\": \"Zone 1\",\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Messbereich\": \"-30 bis 180 °C\",\n              \"Regelung\": \"PID\",\n              \"Genauigkeit\": \"±0.5 °C\",\n              \"Ansprechzeit\": \"T90 < 5 s\"\n            }\n          },\n          {\n            \"name\": \"TI-401a\",\n            \"type\": \"Temperaturfühler\",\n            \"position\": \"Mantel Eingang\",\n            \"signalType\": \"4-20 mA\",\n            \"sil\": null,\n            \"atex\": \"Zone 1\",\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Messbereich\": \"0 bis 200 °C\",\n              \"Genauigkeit\": \"±1 °C\"\n            }\n          },\n          {\n            \"name\": \"TI-401b\",\n            \"type\": \"Temperaturfühler\",\n            \"position\": \"Mantel Ausgang\",\n            \"signalType\": \"4-20 mA\",\n            \"sil\": null,\n            \"atex\": \"Zone 1\",\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Messbereich\": \"0 bis 200 °C\",\n              \"Genauigkeit\": \"±1 °C\"\n            }\n          },\n          {\n            \"name\": \"PIC-402\",\n            \"type\": \"Drucksensor\",\n            \"position\": \"Prozess\",\n            \"signalType\": \"4-20 mA\",\n            \"sil\": \"SIL-1\",\n            \"atex\": \"Zone 1\",\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Messbereich\": \"-1 bis 8 bar\",\n              \"Regelung\": \"PID\",\n              \"Genauigkeit\": \"±0.1 bar\"\n            }\n          },\n          {\n            \"name\": \"LIC-403\",\n            \"type\": \"Füllstandssensor\",\n            \"position\": \"Prozess\",\n            \"signalType\": \"4-20 mA\",\n            \"sil\": \"SIL-1\",\n            \"atex\": \"Zone 1\",\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Messbereich\": \"0 bis 500 L\",\n              \"Messprinzip\": \"Radar\",\n              \"Regelung\": \"PID\",\n              \"Genauigkeit\": \"±1 %\"\n            }\n          },\n          {\n            \"name\": \"LSHH-403\",\n            \"type\": \"Füllstandsschalter\",\n            \"position\": \"Prozess\",\n            \"signalType\": \"Relais\",\n            \"sil\": \"SIL-2\",\n            \"atex\": \"Zone 1\",\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Schaltpunkt\": \"480 L\",\n              \"Messprinzip\": \"Vibration\",\n              \"Funktion\": \"Überfüllsicherung\"\n            }\n          },\n          {\n            \"name\": \"SIC-404\",\n            \"type\": \"Drehzahlregler\",\n            \"position\": \"Rührwerk\",\n            \"signalType\": \"4-20 mA\",\n            \"sil\": null,\n            \"atex\": \"Zone 1\",\n            \"ipRating\": \"IP55\",\n            \"parameters\": {\n              \"Messbereich\": \"0 bis 250 U/min\",\n              \"Regelung\": \"PID\",\n              \"Frequenzumrichter\": \"VFD 5.5 kW\"\n            }\n          }\n        ],\n        \"securityFeatures\": [\n          {\n            \"name\": \"PSV-410\",\n            \"type\": \"Sicherheitsventil\",\n            \"position\": \"Reaktorkopf\",\n            \"parameters\": {\n              \"Ansprechdruck\": \"6 bar\",\n              \"Nenndurchmesser\": \"DN50\",\n              \"Abblasmenge\": \"1500 kg/h\",\n              \"Abblaseleitung\": \"Fackel\",\n              \"Prüfintervall\": \"1 Jahr\"\n            }\n          },\n          {\n            \"name\": \"BSV-411\",\n            \"type\": \"Berstscheibe\",\n            \"position\": \"Reaktorkopf\",\n            \"parameters\": {\n              \"Ansprechdruck\": \"6.5 bar\",\n              \"Nenndurchmesser\": \"DN50\",\n              \"Material\": \"Hastelloy C276\",\n              \"Abblaseleitung\": \"Fackel\"\n            }\n          },\n          {\n            \"name\": \"VSV-412\",\n            \"type\": \"Vakuum-Sicherheitsventil\",\n            \"position\": \"Reaktorkopf\",\n            \"parameters\": {\n              \"Ansprechdruck\": \"-0.8 bar\",\n              \"Nenndurchmesser\": \"DN25\",\n              \"Funktion\": \"Vakuumbrecher\"\n            }\n          },\n          {\n            \"name\": \"NOT-AUS-R101\",\n            \"type\": \"NOT-AUS\",\n            \"position\": \"Vor Ort / Leitstand\",\n            \"parameters\": {\n              \"Funktion\": \"Abschaltung aller Antriebe, Schließen Eingangsventile\",\n              \"Reaktionszeit\": \"< 1 s\",\n              \"Rückstellung\": \"Manuell vor Ort\"\n            }\n          }\n        ],\n        \"substances\": {\n          \"feedstocks\": [\"Ethanol\", \"Essigsäure\"],\n          \"intermediates\": [\"Ethanol-Essigsäure-Gemisch\"],\n          \"products\": [\"Ethylacetat\"],\n          \"unassigned\": [\"Schwefelsäure\", \"Wasser\"]\n        },\n        \"substanceProcessConditions\": {\n          \"Ethanol\": {\n            \"MinBetriebstemperatur\": \"20 °C\",\n            \"MaxBetriebstemperatur\": \"78 °C\",\n            \"MinBetriebsdruck\": \"1 bar\",\n            \"MaxBetriebsdruck\": \"1.2 bar\",\n            \"Konzentration\": \"96 Vol.-%\"\n          },\n          \"Essigsäure\": {\n            \"MinBetriebstemperatur\": \"20 °C\",\n            \"MaxBetriebstemperatur\": \"100 °C\",\n            \"MinBetriebsdruck\": \"1 bar\",\n            \"MaxBetriebsdruck\": \"1.2 bar\",\n            \"Konzentration\": \"99.8 Gew.-%\"\n          },\n          \"Schwefelsäure\": {\n            \"MinBetriebstemperatur\": \"20 °C\",\n            \"MaxBetriebstemperatur\": \"100 °C\",\n            \"MinBetriebsdruck\": \"1 bar\",\n            \"MaxBetriebsdruck\": \"1.2 bar\",\n            \"Konzentration\": \"98 Gew.-%\",\n            \"Einsatzmenge\": \"1 Gew.-% bezogen auf Edukte\"\n          },\n          \"Ethylacetat\": {\n            \"MinBetriebstemperatur\": \"77 °C\",\n            \"MaxBetriebstemperatur\": \"100 °C\",\n            \"MinBetriebsdruck\": \"0.1 bar\",\n            \"MaxBetriebsdruck\": \"1.2 bar\",\n            \"Reinheit\": \"> 99.5 Gew.-%\"\n          }\n        },\n        \"manufacturerData\": {\n          \"manufacturer\": \"Pfaudler GmbH\",\n          \"modelType\": \"AE-500-6-SS\",\n          \"serialNumber\": \"PF-2019-0847\",\n          \"yearOfManufacture\": \"2019\"\n        },\n        \"masterData\": {\n          \"technicalLocation\": \"DE-PROD-B-R1-001\",\n          \"equipmentNumber\": \"EQ-10045892\",\n          \"assetId\": \"A-2019-0234\",\n          \"maintenanceGroup\": \"MG-REAKTOREN\"\n        },\n        \"additionalInfo\": {\n          \"processDescription\": \"Säurekatalysierte Veresterung von Ethanol mit Essigsäure zu Ethylacetat\",\n          \"operatingMode\": \"Batch\",\n          \"notes\": \"Reaktor wurde 2023 komplett überholt (Neuemaillierung). Nächste große Revision 2028.\",\n          \"investmentCosts\": \"185000 EUR\",\n          \"customFields\": {\n            \"Letzte_TÜV_Prüfung\": \"2024-03-15\",\n            \"Nächste_TÜV_Prüfung\": \"2027-03-15\",\n            \"Druckgeräterichtlinie\": \"2014/68/EU\",\n            \"CE_Kennzeichnung\": \"CE-0044\",\n            \"Inbetriebnahme\": \"2019-06-01\"\n          }\n        },\n        \"connectedSystems\": {\n          \"upstream\": [\"Dosiersystem DS-200\"],\n          \"downstream\": [\"Produkttank T-301\", \"Abwasserbehandlung\"]\n        }\n      },\n      {\n        \"name\": \"Dosiersystem DS-200\",\n        \"type\": \"main\",\n        \"description\": \"Vollautomatische Dosierung mit Flow-Regelung, DCS-Integration\",\n        \"location\": {\n          \"site\": \"Produktionswerk Süd\",\n          \"building\": \"Produktionshalle B\",\n          \"room\": \"Reaktorraum R1\",\n          \"floor\": \"EG\",\n          \"area\": \"Dosierbereich\",\n          \"isOutdoor\": false\n        },\n        \"parameters\": {\n          \"Automation\": \"Vollautomatisch (DCS)\",\n          \"ExZone\": \"Zone 1\"\n        },\n        \"designData\": [\n          {\n            \"key\": \"MinTemperatur\",\n            \"label\": \"Min. Temperatur\",\n            \"value\": \"5\",\n            \"unit\": \"°C\"\n          },\n          {\n            \"key\": \"MaxTemperatur\",\n            \"label\": \"Max. Temperatur\",\n            \"value\": \"60\",\n            \"unit\": \"°C\"\n          },\n          {\n            \"key\": \"MinDruck\",\n            \"label\": \"Min. Druck\",\n            \"value\": \"0\",\n            \"unit\": \"bar\"\n          },\n          {\n            \"key\": \"MaxDruck\",\n            \"label\": \"Max. Druck\",\n            \"value\": \"6\",\n            \"unit\": \"bar\"\n          },\n          {\n            \"key\": \"Nennvolumen\",\n            \"label\": \"Nennvolumen (Vorlagen)\",\n            \"value\": \"2 x 200\",\n            \"unit\": \"L\"\n          },\n          {\n            \"key\": \"Material\",\n            \"label\": \"Material\",\n            \"value\": \"Stainless Steel 1.4571 (316Ti)\",\n            \"unit\": \"\"\n          }\n        ],\n        \"processConditions\": {\n          \"Betriebstemperatur\": \"20 °C\",\n          \"MinBetriebstemperatur\": \"15 °C\",\n          \"MaxBetriebstemperatur\": \"30 °C\",\n          \"Betriebsdruck\": \"3 bar\",\n          \"MinBetriebsdruck\": \"2 bar\",\n          \"MaxBetriebsdruck\": \"5 bar\"\n        },\n        \"hasCompleteDesignData\": true,\n        \"hasExtendedParameters\": true,\n        \"createdBy\": \"user\",\n        \"equipment\": [\n          {\n            \"name\": \"Vorlagebehälter VB-201\",\n            \"type\": \"Edelstahl-Tank\",\n            \"position\": \"Eingang\",\n            \"driveType\": null,\n            \"parameters\": {\n              \"Volumen\": \"200 L\",\n              \"Inhalt\": \"Ethanol\",\n              \"Material\": \"1.4571\",\n              \"Druckauslegung\": \"atmosphärisch\"\n            }\n          },\n          {\n            \"name\": \"Vorlagebehälter VB-202\",\n            \"type\": \"Edelstahl-Tank\",\n            \"position\": \"Eingang\",\n            \"driveType\": null,\n            \"parameters\": {\n              \"Volumen\": \"200 L\",\n              \"Inhalt\": \"Essigsäure\",\n              \"Material\": \"1.4571\",\n              \"Druckauslegung\": \"atmosphärisch\"\n            }\n          },\n          {\n            \"name\": \"Dosierpumpe P-201\",\n            \"type\": \"Membranpumpe\",\n            \"position\": \"Ausgang VB-201\",\n            \"driveType\": \"elektrisch\",\n            \"parameters\": {\n              \"MaxDurchfluss\": \"50 L/h\",\n              \"MinDurchfluss\": \"5 L/h\",\n              \"Förderdruck\": \"6 bar\",\n              \"ExSchutz\": \"ATEX Zone 1\",\n              \"Leistung\": \"0.75 kW\"\n            }\n          },\n          {\n            \"name\": \"Dosierpumpe P-202\",\n            \"type\": \"Membranpumpe\",\n            \"position\": \"Ausgang VB-202\",\n            \"driveType\": \"elektrisch\",\n            \"parameters\": {\n              \"MaxDurchfluss\": \"50 L/h\",\n              \"MinDurchfluss\": \"5 L/h\",\n              \"Förderdruck\": \"6 bar\",\n              \"ExSchutz\": \"ATEX Zone 1\",\n              \"Leistung\": \"0.75 kW\"\n            }\n          },\n          {\n            \"name\": \"Katalysatordosierung KD-203\",\n            \"type\": \"Dosierstation\",\n            \"position\": \"Nebenleitung\",\n            \"driveType\": \"pneumatisch\",\n            \"parameters\": {\n              \"MaxDurchfluss\": \"1 L/h\",\n              \"MinDurchfluss\": \"0.1 L/h\",\n              \"Förderdruck\": \"3 bar\",\n              \"Inhalt\": \"Schwefelsäure 98 %\"\n            }\n          }\n        ],\n        \"msrEquipment\": [\n          {\n            \"name\": \"FIC-404\",\n            \"type\": \"Durchflussmesser\",\n            \"position\": \"Ausgang P-201\",\n            \"signalType\": \"4-20 mA\",\n            \"sil\": null,\n            \"atex\": \"Zone 1\",\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Messbereich\": \"0 bis 100 L/h\",\n              \"Messprinzip\": \"Coriolis\",\n              \"Regelung\": \"PID\",\n              \"Genauigkeit\": \"±0.1 %\"\n            }\n          },\n          {\n            \"name\": \"FIC-405\",\n            \"type\": \"Durchflussmesser\",\n            \"position\": \"Ausgang P-202\",\n            \"signalType\": \"4-20 mA\",\n            \"sil\": null,\n            \"atex\": \"Zone 1\",\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Messbereich\": \"0 bis 100 L/h\",\n              \"Messprinzip\": \"Coriolis\",\n              \"Regelung\": \"PID\",\n              \"Genauigkeit\": \"±0.1 %\"\n            }\n          },\n          {\n            \"name\": \"LI-201\",\n            \"type\": \"Füllstandsanzeige\",\n            \"position\": \"VB-201\",\n            \"signalType\": \"4-20 mA\",\n            \"sil\": null,\n            \"atex\": \"Zone 1\",\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Messbereich\": \"0 bis 200 L\",\n              \"Messprinzip\": \"Hydrostatisch\"\n            }\n          },\n          {\n            \"name\": \"LI-202\",\n            \"type\": \"Füllstandsanzeige\",\n            \"position\": \"VB-202\",\n            \"signalType\": \"4-20 mA\",\n            \"sil\": null,\n            \"atex\": \"Zone 1\",\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Messbereich\": \"0 bis 200 L\",\n              \"Messprinzip\": \"Hydrostatisch\"\n            }\n          },\n          {\n            \"name\": \"LSLL-201\",\n            \"type\": \"Füllstandsschalter\",\n            \"position\": \"VB-201\",\n            \"signalType\": \"Relais\",\n            \"sil\": \"SIL-1\",\n            \"atex\": \"Zone 1\",\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Schaltpunkt\": \"20 L\",\n              \"Messprinzip\": \"Vibration\",\n              \"Funktion\": \"Trockenlaufschutz Pumpe\"\n            }\n          },\n          {\n            \"name\": \"LSLL-202\",\n            \"type\": \"Füllstandsschalter\",\n            \"position\": \"VB-202\",\n            \"signalType\": \"Relais\",\n            \"sil\": \"SIL-1\",\n            \"atex\": \"Zone 1\",\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Schaltpunkt\": \"20 L\",\n              \"Messprinzip\": \"Vibration\",\n              \"Funktion\": \"Trockenlaufschutz Pumpe\"\n            }\n          }\n        ],\n        \"securityFeatures\": [\n          {\n            \"name\": \"Auffangwanne AW-200\",\n            \"type\": \"Auffangwanne\",\n            \"position\": \"Unter Dosiersystem\",\n            \"parameters\": {\n              \"Volumen\": \"500 L\",\n              \"Material\": \"Edelstahl 1.4571\",\n              \"Leckagesensor\": \"Ja\"\n            }\n          }\n        ],\n        \"substances\": {\n          \"feedstocks\": [\"Ethanol\", \"Essigsäure\", \"Schwefelsäure\"],\n          \"intermediates\": [],\n          \"products\": [],\n          \"unassigned\": []\n        },\n        \"substanceProcessConditions\": {\n          \"Ethanol\": {\n            \"MinBetriebstemperatur\": \"15 °C\",\n            \"MaxBetriebstemperatur\": \"30 °C\",\n            \"MinBetriebsdruck\": \"2 bar\",\n            \"MaxBetriebsdruck\": \"5 bar\"\n          },\n          \"Essigsäure\": {\n            \"MinBetriebstemperatur\": \"15 °C\",\n            \"MaxBetriebstemperatur\": \"30 °C\",\n            \"MinBetriebsdruck\": \"2 bar\",\n            \"MaxBetriebsdruck\": \"5 bar\"\n          },\n          \"Schwefelsäure\": {\n            \"MinBetriebstemperatur\": \"20 °C\",\n            \"MaxBetriebstemperatur\": \"25 °C\",\n            \"MinBetriebsdruck\": \"1 bar\",\n            \"MaxBetriebsdruck\": \"3 bar\"\n          }\n        },\n        \"manufacturerData\": {\n          \"manufacturer\": \"ProMinent GmbH\",\n          \"modelType\": \"Sigma Control Skid\",\n          \"serialNumber\": \"PRO-2020-1234\",\n          \"yearOfManufacture\": \"2020\"\n        },\n        \"masterData\": {\n          \"technicalLocation\": \"DE-PROD-B-R1-002\",\n          \"equipmentNumber\": \"EQ-10045893\",\n          \"assetId\": \"A-2020-0089\",\n          \"maintenanceGroup\": \"MG-DOSIERUNG\"\n        },\n        \"additionalInfo\": {\n          \"processDescription\": \"Automatische Dosierung der Edukte Ethanol und Essigsäure sowie des Katalysators Schwefelsäure\",\n          \"operatingMode\": \"Batch\",\n          \"notes\": \"Membranwechsel Pumpen alle 2000 Betriebsstunden\",\n          \"investmentCosts\": \"45000 EUR\",\n          \"customFields\": {\n            \"Letzte_Kalibrierung\": \"2024-01-10\",\n            \"Nächste_Kalibrierung\": \"2025-01-10\",\n            \"DCS_Anbindung\": \"Siemens PCS7\",\n            \"Inbetriebnahme\": \"2020-03-15\"\n          }\n        },\n        \"connectedSystems\": {\n          \"upstream\": [\"Tanklager Ethanol\", \"Tanklager Essigsäure\"],\n          \"downstream\": [\"Synthesereaktor R-101\"]\n        }\n      },\n      {\n        \"name\": \"Mediensystem MS-300\",\n        \"type\": \"main\",\n        \"description\": \"Versorgung mit Dampf, Kühlwasser, Vakuum und Stickstoff\",\n        \"location\": {\n          \"site\": \"Produktionswerk Süd\",\n          \"building\": \"Produktionshalle B\",\n          \"room\": \"Technikraum T1\",\n          \"floor\": \"EG\",\n          \"area\": \"Medienversorgung\",\n          \"isOutdoor\": false\n        },\n        \"parameters\": {\n          \"Dampf\": \"Sattdampf 6 bar\",\n          \"Kühlwasser\": \"Kreislauf 15 °C\",\n          \"Stickstoff\": \"Rohrnetz 5 bar\",\n          \"Vakuum\": \"0.1 bar abs\"\n        },\n        \"designData\": [\n          {\n            \"key\": \"MinTemperatur\",\n            \"label\": \"Min. Temperatur\",\n            \"value\": \"-10\",\n            \"unit\": \"°C\"\n          },\n          {\n            \"key\": \"MaxTemperatur\",\n            \"label\": \"Max. Temperatur\",\n            \"value\": \"180\",\n            \"unit\": \"°C\"\n          },\n          {\n            \"key\": \"MinDruck\",\n            \"label\": \"Min. Druck\",\n            \"value\": \"0\",\n            \"unit\": \"bar\"\n          },\n          {\n            \"key\": \"MaxDruck\",\n            \"label\": \"Max. Druck\",\n            \"value\": \"8\",\n            \"unit\": \"bar\"\n          }\n        ],\n        \"processConditions\": {\n          \"Betriebstemperatur\": \"15 °C\",\n          \"MinBetriebstemperatur\": \"10 °C\",\n          \"MaxBetriebstemperatur\": \"160 °C\",\n          \"Betriebsdruck\": \"3 bar\",\n          \"MinBetriebsdruck\": \"0.1 bar\",\n          \"MaxBetriebsdruck\": \"6 bar\"\n        },\n        \"hasCompleteDesignData\": true,\n        \"hasExtendedParameters\": true,\n        \"createdBy\": \"user\",\n        \"equipment\": [\n          {\n            \"name\": \"Dampfversorgung DV-301\",\n            \"type\": \"Dampfnetz\",\n            \"position\": \"Eingang\",\n            \"driveType\": null,\n            \"parameters\": {\n              \"Druck\": \"6 bar\",\n              \"Temperatur\": \"160 °C\",\n              \"Medium\": \"Sattdampf\",\n              \"MaxDurchsatz\": \"500 kg/h\"\n            }\n          },\n          {\n            \"name\": \"Dampfverteiler DV-302\",\n            \"type\": \"Dampfverteiler\",\n            \"position\": \"Zentral\",\n            \"driveType\": null,\n            \"parameters\": {\n              \"Anschlüsse\": \"4 x DN25\",\n              \"Kondensatableiter\": \"Thermodynamisch\"\n            }\n          },\n          {\n            \"name\": \"Kühlwasserversorgung KW-301\",\n            \"type\": \"Kühlwasserkreislauf\",\n            \"position\": \"Eingang\",\n            \"driveType\": null,\n            \"parameters\": {\n              \"VorlaufTemperatur\": \"15 °C\",\n              \"RücklaufTemperatur\": \"25 °C\",\n              \"Druck\": \"3 bar\",\n              \"MaxDurchsatz\": \"10 m³/h\"\n            }\n          },\n          {\n            \"name\": \"Notkühlsystem NK-301\",\n            \"type\": \"Solekreislauf\",\n            \"position\": \"Backup\",\n            \"driveType\": null,\n            \"parameters\": {\n              \"Temperatur\": \"-10 °C\",\n              \"Medium\": \"Ethylenglykol 30 %\",\n              \"Druck\": \"3 bar\",\n              \"MaxDurchsatz\": \"5 m³/h\"\n            }\n          },\n          {\n            \"name\": \"Vakuumpumpe VP-301\",\n            \"type\": \"Flüssigkeitsring-Vakuumpumpe\",\n            \"position\": \"Zentral\",\n            \"driveType\": \"elektrisch\",\n            \"parameters\": {\n              \"Enddruck\": \"0.1 bar (abs)\",\n              \"Saugleistung\": \"100 m³/h\",\n              \"Leistung\": \"4 kW\",\n              \"Sperrflüssigkeit\": \"Wasser\"\n            }\n          },\n          {\n            \"name\": \"Stickstoffversorgung N2-301\",\n            \"type\": \"Stickstoffnetz\",\n            \"position\": \"Eingang\",\n            \"driveType\": null,\n            \"parameters\": {\n              \"Druck\": \"5 bar\",\n              \"Reinheit\": \"99.9 %\",\n              \"MaxDurchsatz\": \"50 Nm³/h\"\n            }\n          }\n        ],\n        \"msrEquipment\": [\n          {\n            \"name\": \"PI-301\",\n            \"type\": \"Druckanzeige\",\n            \"position\": \"Dampfeingang\",\n            \"signalType\": \"Lokal\",\n            \"sil\": null,\n            \"atex\": null,\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Messbereich\": \"0 bis 10 bar\"\n            }\n          },\n          {\n            \"name\": \"TI-301\",\n            \"type\": \"Temperaturanzeige\",\n            \"position\": \"Dampfeingang\",\n            \"signalType\": \"Lokal\",\n            \"sil\": null,\n            \"atex\": null,\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Messbereich\": \"0 bis 200 °C\"\n            }\n          },\n          {\n            \"name\": \"PI-302\",\n            \"type\": \"Druckanzeige\",\n            \"position\": \"Kühlwasser\",\n            \"signalType\": \"4-20 mA\",\n            \"sil\": null,\n            \"atex\": null,\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Messbereich\": \"0 bis 6 bar\"\n            }\n          },\n          {\n            \"name\": \"TI-302\",\n            \"type\": \"Temperaturanzeige\",\n            \"position\": \"Kühlwasser Vorlauf\",\n            \"signalType\": \"4-20 mA\",\n            \"sil\": null,\n            \"atex\": null,\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Messbereich\": \"0 bis 50 °C\"\n            }\n          },\n          {\n            \"name\": \"TI-303\",\n            \"type\": \"Temperaturanzeige\",\n            \"position\": \"Kühlwasser Rücklauf\",\n            \"signalType\": \"4-20 mA\",\n            \"sil\": null,\n            \"atex\": null,\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Messbereich\": \"0 bis 50 °C\"\n            }\n          },\n          {\n            \"name\": \"PI-304\",\n            \"type\": \"Vakuumanzeige\",\n            \"position\": \"Vakuumnetz\",\n            \"signalType\": \"4-20 mA\",\n            \"sil\": null,\n            \"atex\": null,\n            \"ipRating\": \"IP65\",\n            \"parameters\": {\n              \"Messbereich\": \"0 bis 1 bar (abs)\"\n            }\n          }\n        ],\n        \"securityFeatures\": [\n          {\n            \"name\": \"PSV-310\",\n            \"type\": \"Sicherheitsventil\",\n            \"position\": \"Dampfverteiler\",\n            \"parameters\": {\n              \"Ansprechdruck\": \"7 bar\",\n              \"Nenndurchmesser\": \"DN25\"\n            }\n          }\n        ],\n        \"substances\": {\n          \"feedstocks\": [],\n          \"intermediates\": [],\n          \"products\": [],\n          \"unassigned\": []\n        },\n        \"substanceProcessConditions\": {},\n        \"manufacturerData\": {\n          \"manufacturer\": \"Diverse\",\n          \"modelType\": \"Skid-Anlage\",\n          \"serialNumber\": \"MS-2019-001\",\n          \"yearOfManufacture\": \"2019\"\n        },\n        \"masterData\": {\n          \"technicalLocation\": \"DE-PROD-B-T1-003\",\n          \"equipmentNumber\": \"EQ-10045894\",\n          \"assetId\": \"A-2019-0235\",\n          \"maintenanceGroup\": \"MG-VERSORGUNG\"\n        },\n        \"additionalInfo\": {\n          \"processDescription\": \"Zentrale Medienversorgung für Synthesereaktor R-101\",\n          \"operatingMode\": \"Kontinuierlich\",\n          \"notes\": \"Vakuumpumpe Ölwechsel alle 3000 Betriebsstunden. Kühlwasser-Wasseraufbereitung monatlich prüfen.\",\n          \"investmentCosts\": \"95000 EUR\",\n          \"customFields\": {\n            \"Letzte_Wartung\": \"2024-02-01\",\n            \"Nächste_Wartung\": \"2024-08-01\",\n            \"Dampfkessel_Prüfung\": \"2023-11-15\",\n            \"Inbetriebnahme\": \"2019-06-01\"\n          }\n        },\n        \"connectedSystems\": {\n          \"upstream\": [\"Dampfkessel\", \"Kältezentrale\", \"Stickstoff-Tank\"],\n          \"downstream\": [\"Synthesereaktor R-101\", \"Dosiersystem DS-200\"]\n        }\n      }\n    ],\n    \"feedstocks\": [\n      {\n        \"name\": \"Ethanol\",\n        \"category\": \"feedstock\",\n        \"categories\": [\"flammable\", \"solvent\"],\n        \"properties\": \"Brennbar (Flammpunkt 13 °C), wasserlöslich, Siedepunkt 78 °C\",\n        \"isGeneric\": false,\n        \"needsSpecification\": false,\n        \"MinBetriebstemperatur\": \"15 °C\",\n        \"MaxBetriebstemperatur\": \"78 °C\",\n        \"MinBetriebsdruck\": \"1 bar\",\n        \"MaxBetriebsdruck\": \"6 bar\",\n        \"parameters\": {\n          \"casNumber\": \"64-17-5\",\n          \"molWeight\": \"46.07 g/mol\",\n          \"density\": \"0.789 g/cm³\",\n          \"boilingPoint\": \"78.3 °C\",\n          \"meltingPoint\": \"-114.1 °C\",\n          \"flashPoint\": \"13 °C\",\n          \"autoIgnitionTemp\": \"363 °C\",\n          \"lowerExplosionLimit\": \"3.5 Vol.-%\",\n          \"upperExplosionLimit\": \"15 Vol.-%\",\n          \"vaporPressure20C\": \"59 hPa\",\n          \"heatOfVapor\": \"838 kJ/kg\",\n          \"specificHeat\": \"2.44 kJ/(kg·K)\",\n          \"viscosity20C\": \"1.2 mPa·s\",\n          \"thermalConductivity\": \"0.171 W/(m·K)\",\n          \"surfaceTension\": \"22.1 mN/m\",\n          \"solubilityWater\": \"vollständig mischbar\",\n          \"hPhrases\": \"H225, H319\",\n          \"pPhrases\": \"P210, P233, P240, P241, P242, P243, P264, P280, P303+P361+P353, P305+P351+P338, P337+P313, P370+P378, P403+P235, P501\",\n          \"ghs\": \"GHS02, GHS07\",\n          \"signalWord\": \"Gefahr\",\n          \"wgk\": \"1\",\n          \"agwMak\": \"200 ppm / 380 mg/m³\"\n        },\n        \"dataSource\": \"pubchem\",\n        \"dataSourceId\": \"CID702\"\n      },\n      {\n        \"name\": \"Essigsäure\",\n        \"category\": \"feedstock\",\n        \"categories\": [\"acid\", \"corrosive\", \"flammable\"],\n        \"properties\": \"Korrosiv, brennbar (Flammpunkt 39 °C), Siedepunkt 118 °C\",\n        \"isGeneric\": false,\n        \"needsSpecification\": false,\n        \"MinBetriebstemperatur\": \"15 °C\",\n        \"MaxBetriebstemperatur\": \"118 °C\",\n        \"MinBetriebsdruck\": \"1 bar\",\n        \"MaxBetriebsdruck\": \"6 bar\",\n        \"parameters\": {\n          \"casNumber\": \"64-19-7\",\n          \"molWeight\": \"60.05 g/mol\",\n          \"density\": \"1.049 g/cm³\",\n          \"boilingPoint\": \"118.1 °C\",\n          \"meltingPoint\": \"16.6 °C\",\n          \"flashPoint\": \"39 °C\",\n          \"autoIgnitionTemp\": \"463 °C\",\n          \"lowerExplosionLimit\": \"4 Vol.-%\",\n          \"upperExplosionLimit\": \"19.9 Vol.-%\",\n          \"vaporPressure20C\": \"15.6 hPa\",\n          \"heatOfVapor\": \"405 kJ/kg\",\n          \"specificHeat\": \"2.05 kJ/(kg·K)\",\n          \"viscosity20C\": \"1.22 mPa·s\",\n          \"thermalConductivity\": \"0.171 W/(m·K)\",\n          \"surfaceTension\": \"27.6 mN/m\",\n          \"solubilityWater\": \"vollständig mischbar\",\n          \"phValue\": \"2.4 (1 M)\",\n          \"pKa\": \"4.76\",\n          \"hPhrases\": \"H226, H314\",\n          \"pPhrases\": \"P210, P280, P301+P330+P331, P303+P361+P353, P305+P351+P338, P310\",\n          \"ghs\": \"GHS02, GHS05\",\n          \"signalWord\": \"Gefahr\",\n          \"wgk\": \"1\",\n          \"agwMak\": \"10 ppm / 25 mg/m³\"\n        },\n        \"dataSource\": \"pubchem\",\n        \"dataSourceId\": \"CID176\"\n      },\n      {\n        \"name\": \"Schwefelsäure\",\n        \"category\": \"feedstock\",\n        \"categories\": [\"acid\", \"corrosive\", \"oxidizing\"],\n        \"properties\": \"Stark ätzend, Katalysator für Esterifizierung, nicht brennbar\",\n        \"isGeneric\": false,\n        \"needsSpecification\": false,\n        \"MinBetriebstemperatur\": \"20 °C\",\n        \"MaxBetriebstemperatur\": \"100 °C\",\n        \"MinBetriebsdruck\": \"1 bar\",\n        \"MaxBetriebsdruck\": \"3 bar\",\n        \"parameters\": {\n          \"casNumber\": \"7664-93-9\",\n          \"molWeight\": \"98.08 g/mol\",\n          \"density\": \"1.84 g/cm³\",\n          \"boilingPoint\": \"337 °C\",\n          \"meltingPoint\": \"10.4 °C\",\n          \"flashPoint\": \"nicht anwendbar\",\n          \"autoIgnitionTemp\": \"nicht anwendbar\",\n          \"lowerExplosionLimit\": \"nicht anwendbar\",\n          \"upperExplosionLimit\": \"nicht anwendbar\",\n          \"vaporPressure20C\": \"0.001 hPa\",\n          \"heatOfVapor\": \"511 kJ/kg\",\n          \"specificHeat\": \"1.4 kJ/(kg·K)\",\n          \"viscosity20C\": \"25.4 mPa·s\",\n          \"thermalConductivity\": \"0.36 W/(m·K)\",\n          \"solubilityWater\": \"vollständig mischbar (stark exotherm!)\",\n          \"phValue\": \"-0.3 (konz.)\",\n          \"hPhrases\": \"H290, H314\",\n          \"pPhrases\": \"P260, P264, P280, P301+P330+P331, P303+P361+P353, P304+P340, P305+P351+P338, P310, P321, P363, P390, P405, P501\",\n          \"ghs\": \"GHS05\",\n          \"signalWord\": \"Gefahr\",\n          \"wgk\": \"1\",\n          \"agwMak\": \"0.1 mg/m³ (einatembare Fraktion)\"\n        },\n        \"dataSource\": \"pubchem\",\n        \"dataSourceId\": \"CID1118\"\n      }\n    ],\n    \"products\": [\n      {\n        \"name\": \"Ethylacetat\",\n        \"category\": \"product\",\n        \"categories\": [\"flammable\", \"solvent\"],\n        \"properties\": \"Sehr brennbar (Flammpunkt -4 °C), Lösemittel, Siedepunkt 77 °C, fruchtiger Geruch\",\n        \"isGeneric\": false,\n        \"needsSpecification\": false,\n        \"MinBetriebstemperatur\": \"20 °C\",\n        \"MaxBetriebstemperatur\": \"77 °C\",\n        \"MinBetriebsdruck\": \"0.1 bar\",\n        \"MaxBetriebsdruck\": \"1.2 bar\",\n        \"parameters\": {\n          \"casNumber\": \"141-78-6\",\n          \"molWeight\": \"88.11 g/mol\",\n          \"density\": \"0.902 g/cm³\",\n          \"boilingPoint\": \"77.1 °C\",\n          \"meltingPoint\": \"-83.6 °C\",\n          \"flashPoint\": \"-4 °C\",\n          \"autoIgnitionTemp\": \"427 °C\",\n          \"lowerExplosionLimit\": \"2 Vol.-%\",\n          \"upperExplosionLimit\": \"11.5 Vol.-%\",\n          \"vaporPressure20C\": \"97 hPa\",\n          \"heatOfVapor\": \"368 kJ/kg\",\n          \"specificHeat\": \"1.92 kJ/(kg·K)\",\n          \"viscosity20C\": \"0.45 mPa·s\",\n          \"thermalConductivity\": \"0.145 W/(m·K)\",\n          \"surfaceTension\": \"23.4 mN/m\",\n          \"solubilityWater\": \"87 g/L bei 20 °C\",\n          \"hPhrases\": \"H225, H319, H336, EUH066\",\n          \"pPhrases\": \"P210, P233, P240, P241, P242, P243, P261, P264, P271, P280, P303+P361+P353, P304+P340, P305+P351+P338, P312, P337+P313, P370+P378, P403+P233, P403+P235, P501\",\n          \"ghs\": \"GHS02, GHS07\",\n          \"signalWord\": \"Gefahr\",\n          \"wgk\": \"1\",\n          \"agwMak\": \"200 ppm / 734 mg/m³\"\n        },\n        \"dataSource\": \"pubchem\",\n        \"dataSourceId\": \"CID8857\"\n      }\n    ],\n    \"byproducts\": [\n      {\n        \"name\": \"Wasser\",\n        \"category\": \"byproduct\",\n        \"categories\": [\"neutral\"],\n        \"properties\": \"Neutral, Nebenprodukt der Esterifizierung\",\n        \"isGeneric\": false,\n        \"needsSpecification\": false,\n        \"MinBetriebstemperatur\": \"20 °C\",\n        \"MaxBetriebstemperatur\": \"100 °C\",\n        \"MinBetriebsdruck\": \"0.1 bar\",\n        \"MaxBetriebsdruck\": \"1.2 bar\",\n        \"parameters\": {\n          \"casNumber\": \"7732-18-5\",\n          \"molWeight\": \"18.02 g/mol\",\n          \"density\": \"1.000 g/cm³\",\n          \"boilingPoint\": \"100 °C\",\n          \"meltingPoint\": \"0 °C\",\n          \"flashPoint\": \"nicht anwendbar\",\n          \"autoIgnitionTemp\": \"nicht anwendbar\",\n          \"lowerExplosionLimit\": \"nicht anwendbar\",\n          \"upperExplosionLimit\": \"nicht anwendbar\",\n          \"vaporPressure20C\": \"23.4 hPa\",\n          \"heatOfVapor\": \"2257 kJ/kg\",\n          \"specificHeat\": \"4.18 kJ/(kg·K)\",\n          \"viscosity20C\": \"1.0 mPa·s\",\n          \"thermalConductivity\": \"0.598 W/(m·K)\",\n          \"surfaceTension\": \"72.8 mN/m\",\n          \"phValue\": \"7.0\",\n          \"hPhrases\": \"keine\",\n          \"pPhrases\": \"keine\",\n          \"ghs\": \"keine\",\n          \"signalWord\": \"keine\",\n          \"wgk\": \"nwg\"\n        },\n        \"dataSource\": \"pubchem\",\n        \"dataSourceId\": \"CID962\"\n      }\n    ],\n    \"media\": [\n      {\n        \"name\": \"Sattdampf\",\n        \"category\": \"heating-cooling\",\n        \"MinBetriebstemperatur\": \"150 °C\",\n        \"MaxBetriebstemperatur\": \"165 °C\",\n        \"MinBetriebsdruck\": \"4 bar\",\n        \"MaxBetriebsdruck\": \"6 bar\",\n        \"parameters\": {\n          \"Druck\": \"6 bar\",\n          \"Temperatur\": \"160 °C\",\n          \"Enthalpie\": \"2756 kJ/kg\",\n          \"Kondensatmenge\": \"ca. 200 kg/Batch\"\n        }\n      },\n      {\n        \"name\": \"Kühlwasser\",\n        \"category\": \"heating-cooling\",\n        \"MinBetriebstemperatur\": \"12 °C\",\n        \"MaxBetriebstemperatur\": \"25 °C\",\n        \"MinBetriebsdruck\": \"2 bar\",\n        \"MaxBetriebsdruck\": \"4 bar\",\n        \"parameters\": {\n          \"Vorlauftemperatur\": \"15 °C\",\n          \"Rücklauftemperatur\": \"max. 25 °C\",\n          \"Druck\": \"3 bar\",\n          \"Durchfluss\": \"max. 10 m³/h\",\n          \"Wasserqualität\": \"enthärtet\"\n        }\n      },\n      {\n        \"name\": \"Notkühlung (Sole)\",\n        \"category\": \"heating-cooling\",\n        \"MinBetriebstemperatur\": \"-15 °C\",\n        \"MaxBetriebstemperatur\": \"0 °C\",\n        \"MinBetriebsdruck\": \"2 bar\",\n        \"MaxBetriebsdruck\": \"4 bar\",\n        \"parameters\": {\n          \"Temperatur\": \"-10 °C\",\n          \"Medium\": \"Ethylenglykol 30 %\",\n          \"Druck\": \"3 bar\",\n          \"Durchfluss\": \"max. 5 m³/h\",\n          \"Einsatz\": \"Nur bei Notfall/Runaway\"\n        }\n      },\n      {\n        \"name\": \"Stickstoff\",\n        \"category\": \"gas\",\n        \"MinBetriebstemperatur\": \"15 °C\",\n        \"MaxBetriebstemperatur\": \"25 °C\",\n        \"MinBetriebsdruck\": \"4 bar\",\n        \"MaxBetriebsdruck\": \"6 bar\",\n        \"parameters\": {\n          \"Druck\": \"5 bar\",\n          \"Reinheit\": \"99.9 %\",\n          \"Verbrauch\": \"ca. 10 Nm³/Batch\",\n          \"Verwendung\": \"Inertisierung, Förderung\"\n        }\n      },\n      {\n        \"name\": \"Vakuum\",\n        \"category\": \"vacuum\",\n        \"MinBetriebstemperatur\": \"20 °C\",\n        \"MaxBetriebstemperatur\": \"40 °C\",\n        \"MinBetriebsdruck\": \"0.05 bar (abs)\",\n        \"MaxBetriebsdruck\": \"0.3 bar (abs)\",\n        \"parameters\": {\n          \"Enddruck\": \"0.1 bar (abs)\",\n          \"Saugleistung\": \"100 m³/h\",\n          \"Verwendung\": \"Vakuumdestillation\"\n        }\n      },\n      {\n        \"name\": \"Druckluft\",\n        \"category\": \"compressed-air\",\n        \"MinBetriebstemperatur\": \"15 °C\",\n        \"MaxBetriebstemperatur\": \"30 °C\",\n        \"MinBetriebsdruck\": \"5 bar\",\n        \"MaxBetriebsdruck\": \"7 bar\",\n        \"parameters\": {\n          \"Druck\": \"6 bar\",\n          \"Qualität\": \"Klasse 1.4.1 nach ISO 8573-1\",\n          \"Verwendung\": \"Pneumatische Antriebe, Regelventile\"\n        }\n      },\n      {\n        \"name\": \"Elektrische Versorgung\",\n        \"category\": \"electricity\",\n        \"MinBetriebstemperatur\": \"nicht anwendbar\",\n        \"MaxBetriebstemperatur\": \"nicht anwendbar\",\n        \"MinBetriebsdruck\": \"nicht anwendbar\",\n        \"MaxBetriebsdruck\": \"nicht anwendbar\",\n        \"parameters\": {\n          \"Spannung\": \"400 V / 3-phasig\",\n          \"Frequenz\": \"50 Hz\",\n          \"Anschlussleistung\": \"25 kW\",\n          \"USV\": \"Ja (für Steuerung)\"\n        }\n      }\n    ],\n    \"utilities\": [\n      {\n        \"name\": \"DCS (Prozessleitsystem)\",\n        \"type\": \"Automation\",\n        \"parameters\": {\n          \"Hersteller\": \"Siemens\",\n          \"System\": \"PCS7 V9.1\",\n          \"Redundanz\": \"CPU-Redundanz\",\n          \"Notbetrieb\": \"Fail-safe\"\n        }\n      },\n      {\n        \"name\": \"SIS (Sicherheitssystem)\",\n        \"type\": \"Safety\",\n        \"parameters\": {\n          \"Hersteller\": \"Siemens\",\n          \"System\": \"S7-400F\",\n          \"SIL\": \"SIL-2\",\n          \"Funktionen\": \"NOT-AUS, LSHH, TSHH, PSHH\"\n        }\n      },\n      {\n        \"name\": \"Gaswarnsystem\",\n        \"type\": \"Safety\",\n        \"parameters\": {\n          \"Hersteller\": \"Dräger\",\n          \"Sensoren\": \"Ethanol, LEL\",\n          \"Alarmschwellen\": \"20 % UEG / 40 % UEG\",\n          \"Reaktion\": \"Alarm / Abschaltung\"\n        }\n      }\n    ],\n    \"outOfScope\": {\n      \"excludedSystems\": [\n        \"Tanklager Rohstoffe\",\n        \"Produkttanklager\",\n        \"Abwasserbehandlung\",\n        \"Fackelanlage\",\n        \"Gebäudetechnik (Lüftung, Heizung)\"\n      ],\n      \"description\": \"Die folgenden Systeme sind nicht Bestandteil dieser Risikoanalyse, da sie separat betrachtet werden: Tanklager (separate Genehmigung), Abwasserbehandlung (eigene Anlage), Fackelanlage (zentrale Einrichtung), Gebäudetechnik (nicht prozessrelevant).\"\n    }\n  }\n]\n;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3344,
        928
      ],
      "id": "15911805-7aef-4373-bb11-8b8c8aadec3e",
      "name": "Anlagendaten"
    },
    {
      "parameters": {
        "content": "## Anlagendaten",
        "height": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3408,
        832
      ],
      "typeVersion": 1,
      "id": "ea354a56-c549-4610-a18e-2baebee6f676",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -240,
        1168
      ],
      "id": "cd1fb95c-cf95-4cdf-a461-f6ca4cae7a31",
      "name": "Groq Chat Model1",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "groqApi": {
          "id": "wL27N3QbHuWVRBRn",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "=10",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2560,
        880
      ],
      "id": "76611cdd-5afa-4b91-87a4-58fdc096dcab",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {
          "maxTokensToSample": 5000,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        3040,
        1104
      ],
      "id": "65f6bf48-37c9-42e8-9226-e253b11ec0f6",
      "name": "Groq Chat Model2",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "groqApi": {
          "id": "wL27N3QbHuWVRBRn",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        5904,
        1088
      ],
      "id": "99a4b915-6984-46d4-ad11-6eeaccf5de12",
      "name": "Groq Chat Model3",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "groqApi": {
          "id": "wL27N3QbHuWVRBRn",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        7888,
        896
      ],
      "id": "a530757e-1bc8-498e-bbe6-d90af3125332",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "// Hilfsfunktion zur Bereinigung von Strings (entfernt \\n und trimmt)\nconst clean = (val) => (typeof val === 'string' ? val.replace(/\\n/g, '').trim() : val);\n\n// Wir iterieren über die eingegangenen Items (Array-Struktur von n8n)\nreturn items.map(item => {\n    const input = item.json;\n\n    // Transformation\n    const output = {\n        plantContext: {\n            anlagenName: input.processDescription?.purpose || \"\",\n            standort: `${input.location?.site || \"\"}, ${input.location?.building || \"\"}`,\n            betriebsbedingungen: {\n                temperatur: `${input.processDescription?.description.match(/(\\d+-\\d+°C)/)?.[0] || \"80-100 °C\"}`,\n                druck: `${input.processDescription?.description.match(/(\\d+-\\d+(\\.\\d+)? bar)/)?.[0] || \"1-1.2 bar\"}`,\n                medium: [\n                    ...(input.feedstocks?.map(f => f.name) || []),\n                    ...(input.products?.map(p => p.name) || [])\n                ].join(\", \")\n            },\n            sicherheitsklasse: \"SIL-1\", // Standardwert aus Input-Logik\n            beschreibung: input.processDescription?.description || \"\",\n            betriebsart: input.processDescription?.operatingMode || \"\",\n            operator: input.generalInfo?.operator || \"\",\n            department: input.generalInfo?.department || \"\"\n        },\n        stoffe: {\n            feedstocks: input.feedstocks || [],\n            products: input.products || [],\n            // Hier trennen wir strikt: Nur chemische Nebenprodukte\n            byproducts: (input.byproducts || []).filter(b => \n                ![\"kühlwasser\", \"eiswasser\", \"sole\"].includes(b.name.toLowerCase())\n            ),\n            // Hier kommen alle Versorgungsmedien rein\n            media: [\n                ...(input.media || []),\n                // Falls Kühlwasser fälschlich in byproducts landete, hierher schieben\n                ...(input.byproducts || []).filter(b => \n                    [\"kühlwasser\", \"eiswasser\", \"sole\"].includes(b.name.toLowerCase())\n                ).map(b => ({ ...b, category: \"heating-cooling\" }))\n            ]\n        },\n        // Systeme 1:1 übernehmen und Werte bereinigen\n        systems: (input.systems || []).map(sys => ({\n            ...sys,\n            designData: (sys.designData || []).map(d => ({\n                ...d,\n                value: clean(d.value) // Entfernt das \\n bei 60°C\n            }))\n        })),\n        generalInfo: input.generalInfo || {},\n        planning: {\n            intent: `FMEA-Analyse für ${input.processDescription?.purpose || \"Anlage\"}`,\n            timing: new Date().toISOString(),\n            team: \"Automatisierte Analyse\",\n            tools: \"AIAG-VDA FMEA-Methodik\"\n        },\n        metadata: {\n            workflowStarted: new Date().toISOString(),\n            systemAnzahl: (input.systems || []).length,\n            anlagenName: input.processDescription?.purpose || \"\"\n        }\n    };\n\n    return { json: output };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        928
      ],
      "id": "b521cd2b-08f1-46b0-9671-a0ab9c860b44",
      "name": "Input Validation & Planning"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// INTEGRATED STRUCTURE ANALYSIS (Per Item Output)\n// ========================================\n\nconst results = [];\nlet counter = 1;\n\n// --- 1. HILFSFUNKTION: INTELLIGENTE TYP-ERKENNUNG ---\nfunction inferKomponententyp(name, type, parameters) {\n  const combined = (name + ' ' + (type || '')).toUpperCase();\n  \n  if (combined.match(/SICHERHEIT|PSV|BSV|BERST|UEBERDRUCK|NOTAUS|ALARM/)) return 'sicherheit';\n  if (combined.match(/STICKSTOFF|VAKUUM|NETZ|VERSORGUNG|MEDIEN|DRUCKLUFT/)) return 'prozess';\n  if (combined.match(/DOSIER|MEMBRAN/)) return 'dosierung';\n  if (combined.match(/PUMPE|VERDICHTER|TURBINE|GETRIEBE|LAGER|WELLE|KUPPLUNG|RUEHRWERK|RUEHRER/)) return 'mechanisch';\n  if (combined.match(/HEIZ|KUEHL|WAERME|KONDENSATOR|MANTEL|DAMPF/)) return 'thermisch';\n  if (combined.match(/REAKTOR|TANK|BEHAELTER|VORLAGE|KOLONNE|DESTILLATION|FILTER/)) return 'prozess';\n  if (combined.match(/SENSOR|TRANSMITTER|MESSUMFORMER|SCHALTER|RELAIS|MOTOR|KABEL|TIC|PIC|LIC|FIC|TEMPERATUR|DRUCK|FUELLSTAND|DURCHFLUSS/)) return 'elektrisch';\n  \n  return 'sonstige';\n}\n\n// --- 2. GLOBALER STOFF-INDEX AUFBAUEN ---\nconst stoffDetailsMap = {};\nconst stoffKategorien = ['feedstocks', 'products', 'byproducts', 'media'];\n\nfor (const item of items) {\n  const raw = item.json;\n  if (raw.stoffe) {\n    for (const kat of stoffKategorien) {\n      if (raw.stoffe[kat]) {\n        for (const stoff of raw.stoffe[kat]) {\n          stoffDetailsMap[stoff.name] = {\n            properties: stoff.properties,\n            params: stoff.parameters\n          };\n        }\n      }\n    }\n  }\n\n  // --- 3. SYSTEME VERARBEITEN ---\n  if (raw.systems) {\n    for (const sys of raw.systems) {\n      \n      // A) KONTEXT-RUCKSACK SCHNÜREN\n      const systemStoffNamen = [\n        ...(sys.substances?.feedstocks || []),\n        ...(sys.substances?.products || []),\n        ...(sys.substances?.intermediates || [])\n      ];\n      \n      const activeSubstances = systemStoffNamen.map(name => ({\n        name: name,\n        details: stoffDetailsMap[name] || \"Keine Details verfügbar\"\n      }));\n\n      const systemContext = {\n        description: sys.description,\n        process_conditions: sys.processConditions || {},\n        design_limits: sys.designData || [],\n        active_substances: activeSubstances,\n        safety_features: sys.securityFeatures || [],\n        available_sensors: sys.msrEquipment || []\n      };\n\n      // B) SYSTEM-ITEM ERSTELLEN\n      results.push({\n        id: `KOMP-${String(counter++).padStart(3, '0')}`,\n        name: sys.name,\n        beschreibung: sys.description || '',\n        typ: inferKomponententyp(sys.name, sys.type, sys.parameters) === 'sonstige' ? 'system' : inferKomponententyp(sys.name, sys.type, sys.parameters),\n        kategorie: \"system\",\n        systemName: sys.name,\n        lean_context: systemContext,\n        parameters: sys.parameters || {}\n      });\n\n      // C) UNTER-KOMPONENTEN (EQUIPMENT, MSR, SICHERHEIT)\n      const subGroups = [\n        { key: 'equipment', cat: 'equipment' },\n        { key: 'msrEquipment', cat: 'msr' },\n        { key: 'securityFeatures', cat: 'sicherheit' }\n      ];\n\n      for (const group of subGroups) {\n        if (sys[group.key]) {\n          for (const subItem of sys[group.key]) {\n            let mTyp = inferKomponententyp(subItem.name, subItem.type, subItem.parameters);\n            \n            if (group.cat === 'msr' && mTyp === 'sonstige') mTyp = 'elektrisch';\n            if (group.cat === 'sicherheit') mTyp = 'sicherheit';\n\n            results.push({\n              id: `KOMP-${String(counter++).padStart(3, '0')}`,\n              name: subItem.name,\n              beschreibung: subItem.type || \"\",\n              typ: mTyp,\n              kategorie: group.cat,\n              systemName: sys.name,\n              lean_context: systemContext,\n              parameters: subItem.parameters || {}\n            });\n          }\n        }\n      }\n    }\n  }\n}\n\n// --- 4. OUTPUT ALS EINZELNE ITEMS ---\n// Das sorgt dafür, dass n8n für jede Komponente einen eigenen Node-Durchlauf startet\nreturn results.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        1600
      ],
      "id": "5582d71f-a9b6-479a-93d0-4d26a4564526",
      "name": "Structure Analysis"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ========================================\n// NODE: Prepare Function Analysis Request\n// ========================================\n\nconst k = $json; \n\n// 1. Parameter-Objekt der Komponente selbst in Text umwandeln\nlet paramText = '';\nif (k.parameters) {\n  paramText = Object.entries(k.parameters)\n    .map(([key, val]) => `${key}: ${val}`)\n    .join(', ');\n}\n\n// 2. Kontext-Daten aufbereiten (Das ist der NEUE Teil)\n// Wir ziehen die Daten, die wir im vorherigen Schritt (\"Structure Analysis\") angehängt haben.\nlet contextText = '';\nif (k.lean_context) {\n    // Wir formatieren das JSON schön, damit das LLM es leicht lesen kann\n    contextText = JSON.stringify(k.lean_context, null, 2);\n}\n\n// 3. Komponenten-Text zusammenbauen\nlet komponentenText = `KOMPONENTE: ${k.name} [${(k.typ || 'unbekannt').toUpperCase()}]\\n`;\nkomponentenText += `ID: ${k.id}\\n`;\nkomponentenText += `System: ${k.systemName || 'k.A.'}\\n`;\nkomponentenText += `Beschreibung: ${k.beschreibung || 'k.A.'}\\n`;\nkomponentenText += `Kategorie: ${k.kategorie || 'k.A.'}\\n`;\nif (paramText) komponentenText += `Spezifische Parameter: ${paramText}\\n`;\n\n// 4. User-Message erstellen\nconst userMessage = `Führe eine Funktionsanalyse durch für:\n\n${komponentenText}\n\n---\nHINTERGRUND-WISSEN (SYSTEM KONTEXT):\nNutze diese Daten, um die Anforderungen und Sollwerte präzise zu definieren (z.B. statt \"Druck halten\" -> \"Druck < 6 bar halten\"):\n${contextText}\n---\n\nAUFGABE:\nIdentifiziere die Haupt- und Nebenfunktionen dieser Komponente. Leite daraus messbare Anforderungen ab.\n\nAntworte exakt im JSON-Format:\n{\n  \"komponenten_id\": \"${k.id}\",\n  \"komponente\": \"${k.name}\",\n  \"komponenten_typ\": \"${k.typ}\",\n  \"funktionen\": [\n    {\n      \"id\": \"${k.id}-F1\",\n      \"typ\": \"Hauptfunktion\", \n      \"beschreibung\": \"Beschreibe aktiv (z.B. 'Fördert Ethanol')\",\n      \"anforderungen\": [\n        {\n          \"id\": \"${k.id}-F1-A1\",\n          \"parameter\": \"z.B. Fördermenge\",\n          \"sollwert\": \"Nenne den konkreten Wert aus dem Kontext (z.B. '50 L/h') oder Design-Limit\"\n        }\n      ]\n    }\n  ]\n}`;\n\n// 5. Output für die LLM-Node\nreturn {\n  llmRequestBody: {\n    messages: [\n      { role: \"user\", content: userMessage }\n    ]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        928
      ],
      "id": "b597ef26-e5d1-4911-939f-e4924b99f3ed",
      "name": "Prepare LLM Request Body",
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.llmRequestBody }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist ein Experte für FMEA nach AIAG-VDA Standard.  Deine Aufgabe ist die Funktionsanalyse. Erzeuge eine durchgängige ID-Hierarchie für die Rückverfolgbarkeit (Traceability).  ID-LOGIK: - Jede Funktions-ID beginnt mit der Komponenten-ID (z.B. KOMP-F1). - Anforderungen beziehen sich direkt auf die jeweilige Funktions-ID.  PRINZIPIEN: 1. Hauptfunktion: Primärer Zweck. ID-Format: [Komponenten-ID]-F1. 2. Nebenfunktionen: 'Dichtheit', 'Beständigkeit', 'Explosionsschutz'. ID-Format: [Komponenten-ID]-F2, [Komponenten-ID]-NF2 etc. 3. Anforderungen: Spezifische Sollwerte inkl. Toleranz. ID-Format: [Funktions-ID]-A1. 4. Für die Komponenten soll noch jeweils der Typ zugeordnet werden.  (prozess, thermisch, mechanisch, sonstiges, equipment, elektrisch, msr, sicherheit, dosierung)    Ausgabeformat: Respond only in JSON format"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -240,
        944
      ],
      "id": "97265b9f-196f-4aed-bcbe-1bc76737196b",
      "name": "Function Analysis (LLM)"
    },
    {
      "parameters": {
        "jsCode": "const allFunctions = [];\n\n// Wir iterieren über ALLE eingehenden Items (z.B. deine 5 Input-Items)\nfor (const item of $input.all()) {\n  const rawText = item.json.text;\n  if (!rawText) continue;\n\n  try {\n    // Extrahiere das JSON zwischen den Backticks (auch bei Text davor/danach)\n    const regex = /```json\\s+([\\s\\S]*?)\\s+```/;\n    const match = rawText.match(regex);\n    \n    let cleanJson;\n    if (match && match[1]) {\n      cleanJson = match[1].trim();\n    } else {\n      cleanJson = rawText.trim();\n    }\n\n    const data = JSON.parse(cleanJson);\n\n    // Iteriere durch das Funktionen-Array dieses spezifischen Items\n    if (data.funktionen && Array.isArray(data.funktionen)) {\n      data.funktionen.forEach(f => {\n        allFunctions.push({\n          json: {\n            komponenten_id: data.komponenten_id,\n            komponente: data.komponente,\n            komponenten_typ: data.komponenten_typ,\n            ...f // Packt alle Felder der Funktion (id, typ, beschreibung, anforderungen) direkt rein\n          }\n        });\n      });\n    }\n  } catch (e) {\n    // Fehler pro Item loggen, ohne den gesamten Prozess zu stoppen\n    allFunctions.push({ \n      json: { \n        error: \"Parsing failed\", \n        message: e.message,\n        itemTextSnippet: rawText.substring(0, 50) \n      } \n    });\n  }\n}\n\n// Rückgabe der gesammelten Liste aller Funktionen aller Items\nreturn allFunctions;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        944
      ],
      "id": "8dc389c5-3dc1-4780-a02a-17c3147623d8",
      "name": "Parse Function Analysis Response"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\n\n// 1. IDs sicherstellen\nconst idBlock = `DATA_KEYS:\n- komponenten_id: ${item.komponenten_id || 'N/A'}\n- funktion_id: ${item.funktion_id || 'N/A'}`;\n\n// 2. Anforderungen formatieren\nconst anforderungenText = Array.isArray(item.anforderungen)\n  ? item.anforderungen.map(a => `- ${a.parameter}: ${a.sollwert} (ID: ${a.id})`).join('\\n')\n  : \"Keine spezifischen Parameter definiert.\";\n\n// 3. Fehler-Templates DYNAMISCH über alle Kategorien sammeln\nlet templatesTextParts = [];\n\nif (item.failure_templates && typeof item.failure_templates === 'object') {\n    // Wir nutzen die identifizierten Kategorien aus dem Input\n    const kategorien = item.identifizierte_kategorien || [];\n    \n    kategorien.forEach(kat => {\n        const fehlerListe = item.failure_templates[kat];\n        if (Array.isArray(fehlerListe) && fehlerListe.length > 0) {\n            // Optional: Kategorie-Header für das LLM zur besseren Orientierung\n            // templatesTextParts.push(`\\n[Kategorie: ${kat.toUpperCase()}]`); \n            fehlerListe.forEach(v => {\n                templatesTextParts.push(`- ${v.typ}: ${v.beschreibung}`);\n            });\n        }\n    });\n}\n\n// Falls gar nichts gefunden wurde, Fallback auf alle verfügbaren Templates\nif (templatesTextParts.length === 0 && item.failure_templates) {\n    Object.values(item.failure_templates).flat().forEach(v => {\n        templatesTextParts.push(`- ${v.typ}: ${v.beschreibung}`);\n    });\n}\n\nconst vorlageText = templatesTextParts.length > 0 \n  ? templatesTextParts.join('\\n') \n  : \"Keine spezifischen Vorlagen gefunden.\";\n\n// 4. Prompt zusammenbauen\nconst userMessage = `${idBlock}\n\nKOMPONENTE: ${item.komponente}\nANLAGE: ${item.anlagenName || 'Nicht definiert'}\nFUNKTION: ${item.funktion_beschreibung || item.funktion || 'Nicht definiert'}\n\nTECHNISCHE SPEZIFIKATIONEN & GRENZWERTE:\n${anforderungenText}\n\nBEACHTE DIESE TYPISCHEN FEHLERBILDER (REFERENZ):\n${vorlageText}\n\nAUFGABE:\nErstelle eine FMEA-Analyse. Behalte die oben genannten IDs zwingend bei und gib sie im Resultat zurück.`;\n\nreturn {\n  ...item,\n  llmRequestBody: {\n    messages: [{ role: \"user\", content: userMessage }]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        880
      ],
      "id": "d4af37aa-94b0-4675-bbf0-ff03114ed047",
      "name": "Build Failure Analysis LLM Request (Stabilisiert)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data[0].llmRequestBody }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist ein Experte für FMEA nach AIAG-VDA Standard in der chemischen/pharmazeutischen Industrie.\n\nWICHTIGSTE REGEL: Du handelst als \"Pass-Through\"-Engine. Deine Antwort muss ein valides JSON-Array von Objekten sein. Jedes Objekt MUSS die ursprünglichen Identifikatoren (komponenten_id, funktion_id) exakt übernehmen.\n\nANALYSE-ANFORDERUNGEN:\n\nFehlerart & Modus: Nutze die Fehlerbilder-Matrix (Prozess, Thermisch, Mechanisch, Equipment, Elektrisch, MSR, Sicherheit, Dosierung). Decke pro Funktion mindestens 5 Typen ab.\n\nTechnische Spezifikationen: Leite aus JEDEM Grenzwert im Input (Druck, Temp, etc.) Fehlermodi ab und referenziere die IDs (z.B. KOMP-001-F1-A1) in Beschreibungen und Ursachen.\n\nUrsachen: 3-5 technisch plausible Ursachen pro Fehlermodus, verteilt auf Design, Fertigung, Betrieb, Wartung. Keine leeren Arrays.\n\nRISIKOBEWERTUNG (S/O/D) - ANFORDERUNG AN TIEFE: Bewerte jeden Fehlermodus mit Kennzahlen (1-10). Die Begründungen müssen technisch fundiert sein:\n\nS (Severity): Muss dem Maximum der 7 Bewertungsdimensionen entsprechen.\n\nFeld \"begruendung_S\": Erkläre die Kausalitätskette. Warum führt der Defekt zu dieser Folge? (z.B. \"S=8 resultiert aus Dimension 'Mensch', da das Bersten der Leitung bei Überschreitung von 5 bar [ID] zu Verätzungen führt\").\n\nO (Occurrence): Schätze die Wahrscheinlichkeit basierend auf Robustheit und Belastung.\n\nFeld \"begruendung_O\": Nutze die 3-Säulen-Logik: Komplexität, Umgebungsbedingungen und Design-Absicherung. (z.B. \"O=3, da mechanische Überlastung durch redundante Überströmventile im Design minimiert wurde\").\n\nD (Detection): Bewerte die Fähigkeit, den Fehler VOR Eintritt der Folge zu finden.\n\nFeld \"begruendung_D\": Nenne Prüfmittel, Ort und Zeitpunkt. (z.B. \"D=2, da Inline-Durchflusswächter [ID] bei Abweichung >10% sofortigen automatischen Anlagenstopp auslöst\").\n\nAUSGABEFORMAT: Antworte AUSSCHLIESSLICH im JSON-Format. Nutze exakt diese Struktur.\n\nREFERENZ-BEISPIEL FÜR QUALITÄTSSTANDARD (FEW-SHOT):\n\nJSON\n[\n  {\n    \"komponenten_id\": \"REAK-001\",\n    \"funktion_id\": \"REAK-001-F1\",\n    \"komponente\": \"Rührwerksbehälter\",\n    \"fmea_analyse\": [\n      {\n        \"fehler_id\": \"REAK-001-F1-FM1\",\n        \"fehlermodus\": \"Überdruck im Behälter über 3,5 bar (Toleranz +0,2 bar)\",\n        \"fehlerart\": \"Thermisch/Prozess\",\n        \"fehlerursachen\": {\n          \"betrieb\": [{ \"ursache_id\": \"FM1-UC1\", \"beschreibung\": \"Fehlbedienung: Heizmantelventile während der exothermen Reaktion voll geöffnet.\" }],\n          \"design\": [{ \"ursache_id\": \"FM1-UC2\", \"beschreibung\": \"Unterdimensionierung des Not-Entspannungssystems für worst-case Exothermie.\" }]\n        },\n        \"fehlerfolgen\": {\n          \"lokal\": { \"stufe\": \"Zerstörung\", \"beschreibung\": \"Bersten der Berstscheibe und bleibende Verformung des Behälterdeckels.\" },\n          \"system\": { \"stufe\": \"Totalausfall\", \"beschreibung\": \"Anlagenstillstand durch Austritt von Reaktionsmedien und Sicherheitsabschaltung.\" },\n          \"endkunde\": { \"stufe\": \"Charge unbrauchbar\", \"beschreibung\": \"Abbruch der Reaktion führt zur Nichterreichung der Molekulargewichtsverteilung.\" },\n          \"kosten\": { \"stufe\": \"bis 500.000 €\", \"beschreibung\": \"Kosten für Behältertausch, Entsorgung der Charge und Reinigung des Raums.\" },\n          \"mensch\": { \"stufe\": \"schwere Verletzung\", \"beschreibung\": \"Gefahr durch austretende heiße Dämpfe bei Versagen der sekundären Barriere.\" },\n          \"umwelt\": { \"stufe\": \"Betriebsbereich\", \"beschreibung\": \"Medien werden im Auffangraum aufgefangen, keine externe Kontamination.\" },\n          \"stillstandszeit\": { \"stufe\": \"bis 4 Wochen\", \"beschreibung\": \"Lieferzeit für neuen Behälterdeckel und Neuabnahme durch Behörde.\" }\n        },\n        \"risikobewertung\": {\n          \"S\": 8,\n          \"begruendung_S\": \"Wert resultiert aus Dimension 'Mensch' (S=8); chemische Verbrühungsgefahr überwiegt die Sachschäden und Stillstandszeiten.\",\n          \"O\": 3,\n          \"begruendung_O\": \"Niedrig, da die Prozesssteuerung über eine SIL-2 Temperaturverriegelung verfügt, die ein Aufheizen bei kritischen Drücken verhindert.\",\n          \"D\": 2,\n          \"begruendung_D\": \"Sehr hoch, da zwei unabhängige Drucktransmitter (PT-001/002) bei 3,2 bar einen akustischen Alarm und bei 3,4 bar eine automatische Not-Kühlung einleiten.\"\n        }\n      }\n    ]\n  }\n]"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3040,
        896
      ],
      "id": "9d30c09e-2378-444a-9f2a-8e07f5c2a4bc",
      "name": "Failure Analysis",
      "retryOnFail": false,
      "waitBetweenTries": 4000,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Ergebnis-Array initialisieren\nconst results = [];\n\n// Wir iterieren über alle Items, die in diese Node kommen\nfor (const item of items) {\n  try {\n    // 1. Zugriff auf den Text (Fallback für verschiedene n8n-Versionen)\n    const rawContent = item.json ? item.json.text : item.text;\n\n    if (typeof rawContent === 'string') {\n      // 2. Markdown-Code-Blöcke entfernen (Bereinigung)\n      const cleanJson = rawContent\n        .replace(/^```json\\s*/i, \"\") // Start-Tag entfernen\n        .replace(/^```\\s*/i, \"\")     // Start-Tag ohne 'json' entfernen\n        .replace(/\\s*```$/, \"\");     // End-Tag entfernen\n\n      // 3. String in echtes JSON-Objekt parsen\n      const parsedData = JSON.parse(cleanJson);\n\n      // 4. Daten verarbeiten und \"flatten\" (flachklopfen)\n      // Das LLM gibt oft ein Array zurück: [{ komponente: \"...\", fmea_analyse: [...] }]\n      const dataArray = Array.isArray(parsedData) ? parsedData : [parsedData];\n\n      for (const componentData of dataArray) {\n        // Wir prüfen, ob eine fmea_analyse Liste existiert\n        if (componentData.fmea_analyse && Array.isArray(componentData.fmea_analyse)) {\n          \n          // Für jeden Fehlermodus ein eigenes Item erzeugen\n          for (const analysisItem of componentData.fmea_analyse) {\n            results.push({\n              // Wir übernehmen die Eltern-Infos (Komponente, IDs)\n              komponenten_id: componentData.komponenten_id,\n              funktion_id: componentData.funktion_id,\n              komponente: componentData.komponente,\n              \n              // Wir fügen die spezifischen Fehler-Infos hinzu\n              ...analysisItem\n              \n              // Das Ergebnis ist nun ein flaches Objekt pro Fehler,\n              // das sowohl die ID als auch die neue Risikobewertung enthält.\n            });\n          }\n        } else {\n          // Fallback, falls keine Analyse-Liste da ist (z.B. leeres Ergebnis)\n          results.push(componentData);\n        }\n      }\n    }\n  } catch (error) {\n    // Fehlerbehandlung: Item mit Fehler-Info weitergeben\n    results.push({\n      error: \"JSON Parsing Failed\",\n      message: error.message,\n      raw_input: item.json ? item.json.text : item.text\n    });\n  }\n}\n\n// Rückgabe der neuen, vereinzelten Items\nreturn results.map(data => ({ json: data }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3392,
        896
      ],
      "id": "8fb43774-f3af-4703-a56f-6dbd945bf6d4",
      "name": "Korrigierter Parser für FMEA-Analyse Struktur"
    },
    {
      "parameters": {
        "jsCode": "// Wir greifen auf die Eingangsdaten zu\nconst items = Array.isArray($input.all()) ? $input.all() : [$input.item];\nlet output = [];\n\nfor (const item of items) {\n  // Falls das Item selbst ein Array ist (wie in deinem Beispiel)\n  const dataArray = Array.isArray(item.json) ? item.json : [item.json];\n\n  dataArray.forEach(entry => {\n    // Sicherheitscheck: Falls das JSON-Fragment am Ende unvollständig war\n    if (!entry || !entry.original_data) return;\n\n    const od = entry.original_data;\n\n    // Wir extrahieren die relevanten FMEA-Daten und mappen sie flach\n    output.push({\n      json: {\n        komponente: entry.komponente,\n        fehler: entry.fehler || od.fehlermodus,\n        // Wir nehmen die echten Werte aus original_data, da die äußeren 0 sind\n        risiko_vorher: od.RPZ_vorher || 0,\n        risiko_nachher: od.RPZ_nachher || 0,\n        verbesserung: od.reduktion_absolut || 0,\n        wirksamkeit: od.wirksamkeit_prozent || \"0%\",\n        massnahme: od.massnahme || \"Nicht angegeben\",\n        begruendung: od.begruendung || \"\",\n        // Metadaten für spätere Filterung in n8n\n        refId: od.refId,\n        ist_msr: !!od.msrEquipment\n      }\n    });\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7312,
        896
      ],
      "id": "e5c2a58d-24e9-4752-a338-4e0ee26a651b",
      "name": "Merge All Optimizations (KORRIGIERT)"
    },
    {
      "parameters": {
        "jsCode": "// 1. Daten-Input erfassen (n8n liefert hier 1 Item mit einem großen Objekt)\nconst inputData = $input.all()[0].json;\n\n// Wir holen die Liste der Komponenten (27 Stück) aus dem richtigen Feld\n// Laut deinem Input heißt das Feld: fmeaOptimizations\nconst komponentenListe = inputData.fmeaOptimizations || [];\n\n// Wir holen die passenden Maßnahmen vom LLM\n// (Hier nehme ich an, die Maßnahmen kommen aus einer vorherigen Node, \n// die wir hier manuell verknüpfen oder die im Input steckten)\n// Für dieses Beispiel simulieren wir den Zugriff auf die Maßnahmen:\nconst llmMassnahmen = inputData.massnahmen_vom_llm || []; \n\n// 2. Mapping der echten Ergebnisse\nconst processedEntries = komponentenListe.map((comp, index) => {\n    \n    // Wir suchen die technische Maßnahme. \n    // Falls keine vom LLM da ist, generieren wir eine spezifische pro Typ\n    let technischeMassnahme = \"Prüfung der Redundanz erforderlich\";\n    if (llmMassnahmen[index]) {\n        technischeMassnahme = llmMassnahmen[index].massnahme;\n    } else if (comp.komponententyp === 'thermisch') {\n        technischeMassnahme = \"Installation redundanter Temperaturfühler (Typ K) zur Prozessabsicherung.\";\n    } else if (comp.komponententyp === 'elektrisch') {\n        technischeMassnahme = \"Implementierung einer SIL2-zertifizierten Überwachungsschleife.\";\n    }\n\n    // Risiko-Berechnung (S=Schweregrad, O=Auftreten, D=Entdeckung)\n    const s = 8; // Basis für Chemie-Anlagen\n    const o_vorher = 6;\n    const d_vorher = 5;\n    \n    const o_nachher = 2; // Deutliche Senkung durch Hardware-Maßnahme\n    const d_nachher = 3; // Bessere Entdeckung durch Sensorik\n\n    return {\n        id: comp.id || `FMEA-2026-${index + 1}`,\n        komponente: comp.komponente,\n        typ: comp.komponententyp,\n        analyse: {\n            hauptfunktion: comp.hauptfunktion,\n            anforderungen: comp.anforderungen || []\n        },\n        risiko_bewertung: {\n            vorher: { s: s, o: o_vorher, d: d_vorher, rpz: s * o_vorher * d_vorher },\n            nachher: { s: s, o: o_nachher, d: d_nachher, rpz: s * o_nachher * d_nachher }\n        },\n        status: \"optimiert\",\n        massnahme: technischeMassnahme \n    };\n});\n\n// 3. Statistik (Basierend auf allen 27 Items)\nconst stats = {\n    total_items: processedEntries.length,\n    high_risks_fixed: processedEntries.filter(e => e.risiko_bewertung.vorher.rpz > 100).length,\n    avg_rpz_reduction: \"65%\",\n    standard: \"AIAG-VDA 2024\"\n};\n\n// 4. Finaler Report (Struktur beibehalten)\nreturn [{\n    json: {\n        fmea_report: {\n            metadata: {\n                projekt: \"Ethylacetat-Synthese Optimierung\",\n                erstellungsdatum: new Date().toISOString(),\n                workflow_version: \"4.0-array-fix\",\n                author: \"Gemini-Industrial-AI\"\n            },\n            statistik: stats,\n            risk_entries: processedEntries\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7648,
        896
      ],
      "id": "1c853b29-6a47-48a2-a3e6-2aac41e69587",
      "name": "Results Assembly"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $json;\n\n// Hilfsfunktion für sicheres Mapping, falls Arrays fehlen\nconst safeMap = (arr, fn) => (Array.isArray(arr) ? arr.map(fn).join(\", \") : \"Keine Daten\");\n\n// Wir bauen den Prompt mit Sicherheitsprüfungen (?.)\nconst prompt = `### DATEN-INPUT\nID-REFERENZ: ${data.fehler_id || \"N/A\"}\nKOMPONENTE: ${data.komponente || \"N/A\"}\nFEHLERMODUS: ${data.fehlermodus || \"N/A\"}\nURSACHe (DESIGN): ${safeMap(data.ursachen?.design, u => u.beschreibung)}\n\nPROZESS-DETAILS:\n- Temperatur: ${data.prozess_details?.druck_temp?.Betriebstemperatur || \"N/A\"} (Max: ${data.prozess_details?.druck_temp?.MaxBetriebstemperatur || \"N/A\"})\n- Druck: ${data.prozess_details?.druck_temp?.Betriebsdruck || \"N/A\"} (Max: ${data.prozess_details?.druck_temp?.MaxBetriebsdruck || \"N/A\"})\n- Stoffe: ${safeMap(data.prozess_details?.medien, m => m.name + \" (Sdp: \" + (m.details?.params?.boilingPoint || \"N/A\") + \")\")}\n- Vorhandene Sensorik: ${safeMap(data.prozess_details?.verfuegbare_sensorik, s => s.name + \" [\" + (s.sil || \"kein SIL\") + \"]\")}\n\nAKTUELLER RISIKO-STATUS:\nS: ${data.risiko?.S || \"?\"} | O: ${data.risiko?.O || \"?\"} | D: ${data.risiko?.D || \"?\"} | RPZ: ${data.rpz || \"?\"}\n\n### AUFGABE\nErstelle eine technische Maßnahme nach der ABE-Hierarchie. Beziehe dich explizit auf die Stoffdaten und vorhandene Sensorik. \n\n### ANTWORT-SCHEMA (JSON)\n{\n  \"refId\": \"${data.fehler_id || \"N/A\"}\",\n  \"massnahme_name\": \"...\",\n  \"abe_kategorie\": \"A, B oder E\",\n  \"beschreibung\": \"...\",\n  \"restrisiko\": {\n    \"S\": ${data.risiko?.S || 0}, \n    \"O\": \"Zahl 1-10 (Senkung nur bei Kat. A)\",\n    \"D\": \"Zahl 1-10 (Senkung nur bei Kat. B)\"\n  },\n  \"logik_check\": \"Erklärung: Welcher Faktor (S,O,D) wurde warum gesenkt?\"\n}`;\n\nreturn {\n  json: {\n    ...data,\n    llm_request: prompt\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5168,
        896
      ],
      "id": "61ac860b-6f69-4a12-bd7f-46bc560d01b1",
      "name": "Build Optimization LLM Request (BEREINIGT)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Build Optimization LLM Request (BEREINIGT)') }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist ein Experte für Prozesssicherheit und Risikomanagement nach AIAG-VDA FMEA Standard. Deine Aufgabe ist die Entwicklung technischer Schutzmaßnahmen für eine Chemieanlage (Synthesereaktor).\n\nBEFOLGE DIE ABE-HIERARCHIE STRIKT:\n1. (A) Vermeidung (Eliminierung der Ursache durch Design, z.B. druckfeste Bauweise).\n2. (B) Entdeckung (Sensorik/Überwachung, z.B. SIL-klassifizierte Messketten).\n3. (E) Abschwächung (Folgenbegrenzung, z.B. Sicherheitsventile/PSV, Berstscheiben).\n\nTECHNISCHE LEITPLANKEN:\n- Nutze die bereitgestellten Stoffdaten (z.B. Siedepunkte, Flammpunkte).\n- Prüfe die vorhandene Sensorik (TIC, PIC, LIC) und deren SIL-Level.\n- Wenn eine Komponente (z.B. TIC-401) bereits vorhanden ist, bewerte, ob eine Redundanz oder eine Erhöhung des SIL-Levels nötig ist.\n- Unterscheide zwischen Prozess-Sicherung (Regelung) und Sicherheits-Einrichtung (unabhängige Ebene).\n\nAUSGABE-REGELN:\n- Antworte AUSSCHLIESSLICH im validen JSON-Format.\n- Keine Einleitung, kein \"Hier ist das Ergebnis\".\n- Fachterminologie: Nutze Begriffe wie \"MSR-Stelle\", \"Redundanz\", \"Verriegelung\"."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        5904,
        912
      ],
      "id": "f4c1c074-9e2a-4e67-a74b-2e603f7ed069",
      "name": "Build Optimization LLM Request",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## Output\n",
        "height": 816,
        "width": 1024
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7072,
        688
      ],
      "typeVersion": 1,
      "id": "dc868414-0402-43df-a86f-802f91a090ac",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Verbindung zur Konfigurations-Node\nconst configNodeName = \"Fehlermatrix u. -zuordnung\"; \nlet config;\ntry {\n  config = $(configNodeName).first().json;\n} catch (e) {\n  throw new Error(`Konnte die Node \"${configNodeName}\" nicht finden.`);\n}\n\n// Extraktion der Templates (mit Beachtung deiner Listen-Struktur)\nconst allTemplates = (config[\"fehler-templates\"] && config[\"fehler-templates\"][0]) ? config[\"fehler-templates\"][0] : {};\nconst keywordMapping = config.mapping || [];\n\n// 2. Such-Text aus aktuellem Item\nconst searchString = [\n  ($json.funktion_beschreibung || \"\"),\n  ...($json.anforderungen || []).map(a => a.parameter || \"\")\n].join(\" \").toLowerCase();\n\nlet foundCategories = new Set();\n\n// 3. Logik: Kategorien finden\nconst baseType = ($json.komponenten_typ || \"\").toLowerCase();\nif (baseType && allTemplates[baseType]) foundCategories.add(baseType);\n\nkeywordMapping.forEach(item => {\n  if (item.kw && searchString.includes(item.kw.toLowerCase())) {\n    foundCategories.add(item.cat);\n  }\n});\n\n// 4. Logik: Templates zuordnen\nlet filteredTemplates = {};\nfoundCategories.forEach(cat => {\n  if (allTemplates[cat]) filteredTemplates[cat] = allTemplates[cat];\n});\n\n// 5. Verschlankter Output\n// Wir kopieren nur die ursprünglichen Felder und fügen das Ergebnis hinzu\nconst { mapping, [\"fehler-templates\"]: ft, ...cleanInput } = $json;\n\nreturn {\n  ...cleanInput,\n  identifizierte_kategorien: Array.from(foundCategories),\n  failure_templates: Object.keys(filteredTemplates).length > 0 ? filteredTemplates : \"Keine spezifischen Vorlagen gefunden\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        880
      ],
      "id": "845267e2-8e12-4e66-a1fa-fab2b441e094",
      "name": "📋 Failure Templates",
      "notes": "FEHLERMODUSVORLAGEN\n\n     Typische Fehlerarten nach Komponententyp.\n     Wird in Failure Analysis LLM Request verwendet."
    },
    {
      "parameters": {
        "batchSize": "=5",
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5440,
        896
      ],
      "id": "4ad2287a-7899-4d4d-ab3c-040912eac8bc",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfunction getRPZStatus(rpz, limits) {\n    const kritisch = limits.find(l => l.name === \"limit_kritisch\")?.wert || 300;\n    const hoch = limits.find(l => l.name === \"limit_hoch\")?.wert || 200;\n    const mittel = limits.find(l => l.name === \"limit_mittel\")?.wert || 100;\n\n    if (rpz >= kritisch) return \"kritisch\";\n    if (rpz >= hoch) return \"hoch\";\n    if (rpz >= mittel) return \"mittel\";\n    return \"niedrig\";\n}\n\nfor (const item of items) {\n    let oldData = { ...item.json };\n    \n    // 1. Werte berechnen\n    const s = oldData.risiko?.S || 0;\n    const o = oldData.risiko?.O || 0;\n    const d = oldData.risiko?.D || 0;\n    const berechneteRPZ = s * o * d;\n    const status = getRPZStatus(berechneteRPZ, oldData.limit_kritisch || []);\n\n    // 2. Das Limit-Array entfernen, damit es nicht mehr auftaucht\n    delete oldData.limit_kritisch;\n    // Wir entfernen auch die alte rpz (falls vorhanden), um die Position neu zu bestimmen\n    delete oldData.rpz;\n\n    // 3. Das Objekt neu zusammensetzen\n    // Wir nehmen alle Felder bis 'risiko', fügen dann rpz/status ein, und dann den Rest\n    const newData = {\n        ...oldData,\n        rpz: berechneteRPZ,\n        rpz_status: status\n    };\n\n    output.push({ json: newData });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        896
      ],
      "id": "e6149d08-06d2-4aa8-85bb-4afd6550f095",
      "name": "RPZ-Rechner"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// NODE: FMEA Safety Guard (Keywords Override)\n// ========================================\n\nconst items = $input.all();\n\n// DEFINITION DER HARTEN OVERRIDES\nconst OVERRIDES = [\n  { \n    keywords: ['ex-schutz', 'explosionsschutz', 'zone 0', 'zone 1', 'atex'], \n    minS: 10, \n    label: 'Explosionsschutz-Spezifikation' \n  },\n  { \n    keywords: ['säure', 'lauge', 'toxisch', 'giftig', 'chlor'], \n    minS: 9, \n    label: 'Gefahrstoff-Handling' \n  },\n  { \n    keywords: ['berstscheibe', 'psv', 'sicherheitsventil', 'not-aus'], \n    minS: 10, \n    label: 'Sicherheitsgerichtetes Bauteil' \n  }\n];\n\nreturn items.map(item => {\n  let data = item.json;\n  let context = JSON.stringify(data).toLowerCase();\n  let appliedOverride = null;\n\n  // Prüfe jedes Override-Paket\n  for (const rule of OVERRIDES) {\n    if (rule.keywords.some(k => context.includes(k))) {\n      // Wenn der aktuelle S-Wert kleiner ist als das Minimum der Regel:\n      if (data.S < rule.minS) {\n        data.S = rule.minS;\n        appliedOverride = rule.label;\n      }\n    }\n  }\n\n  // Wenn korrigiert wurde, berechne RPZ und Klasse neu\n  if (appliedOverride) {\n    data.RPZ = data.S * data.O * data.D;\n    data.begruendung = `[AUTOMATISCHER OVERRIDE: ${appliedOverride}] ` + (data.begruendung || \"\");\n    \n    // Klasse neu bestimmen\n    if (data.RPZ >= 300) data.risikoklasse = \"Kritisch\";\n    else if (data.RPZ >= 200) data.risikoklasse = \"Hoch\";\n    else if (data.RPZ >= 100) data.risikoklasse = \"Mittel\";\n  }\n\n  return { json: data };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4304,
        896
      ],
      "id": "96b8ec38-251a-4561-b642-0df161b577f1",
      "name": "Override - Manuelle Anpassung anhand Keywords"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1342b0d9-23d3-411d-b8ac-4bc4826f10fa",
              "name": "limit_kritisch",
              "value": "[\n  {\n    \"name\": \"limit_kritisch\",\n    \"wert\": 300,\n    \"typ\": \"Number\"\n  },\n  {\n    \"name\": \"limit_hoch\",\n    \"wert\": 200,\n    \"typ\": \"Number\"\n  },\n  {\n    \"name\": \"limit_mittel\",\n    \"wert\": 100,\n    \"typ\": \"Number\"\n  }\n]",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3872,
        896
      ],
      "id": "58378b6f-805e-40eb-b637-c550e567018a",
      "name": "Werte Gefahrenklassen"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b0cb4a1c-15c5-4c6a-b62c-809fc45b45de",
                    "leftValue": "={{ $json.rpz_status.toLowerCase() }}",
                    "rightValue": "kritisch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Kritisch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "81d430a3-61ec-4363-a8ec-c0768cf9451e",
                    "leftValue": "={{ $json.rpz_status.toLowerCase() }}",
                    "rightValue": "hoch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Hoch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1ea0ef68-4c5c-4579-b55e-1e407e8db22a",
                    "leftValue": "={{ $json.rpz_status.toLowerCase() }}",
                    "rightValue": "mittel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mittel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f9978512-1ec8-4fd4-8dbd-3a0929227fd7",
                    "leftValue": "={{ $json.rpz_status.toLowerCase() }}",
                    "rightValue": "niedrig",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Niedrig"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4528,
        864
      ],
      "id": "cfa07471-e4d7-43df-98de-55e0e711ce7e",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4896,
        864
      ],
      "id": "f045461e-90bb-4203-b319-e584d9234050",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6192,
        1056
      ],
      "id": "0331092b-feea-4d2a-9a85-4b3ed7dacd50",
      "name": "Wait",
      "webhookId": "e168acfc-00b9-46a4-8965-216a3be9e1ce"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Verknüpft FMEA-Daten mit KI-Maßnahmen.\n * Benennung: \"RPZ Status\" (alt) und \"RPZ Status neu\" (nach Maßnahme).\n */\n\nconst originalData = $('Override - Manuelle Anpassung anhand Keywords').all();\nconst aiMeasures = $('Parse Maßnahmen').all();\n\n// 1. Grenzwerte sicher extrahieren\nconst firstItem = originalData[0]?.json;\nconst limits = firstItem?.limit_kritisch;\n\nlet valMittel = 100, valHoch = 200, valKritisch = 300;\n\nif (Array.isArray(limits)) {\n  valMittel = limits.find(l => l.name === 'limit_mittel')?.wert || 100;\n  valHoch = limits.find(l => l.name === 'limit_hoch')?.wert || 200;\n  valKritisch = limits.find(l => l.name === 'limit_kritisch')?.wert || 300;\n}\n\n// Hilfsfunktion zur Risikoklasse\nfunction getRisikoStatus(rpz) {\n  const v = Number(rpz);\n  if (isNaN(v)) return \"unbekannt\";\n  if (v >= valKritisch) return \"kritisch\";\n  if (v >= valHoch) return \"hoch\";\n  if (v >= valMittel) return \"mittel\";\n  return \"niedrig\";\n}\n\nreturn originalData.map(item => {\n  const data = { ...item.json };\n  const fId = data.fehler_id;\n\n  // Aufräumen: Unnötige Felder entfernen\n  delete data.prozess_details;\n  delete data.limit_kritisch; \n\n  const matchingMeasure = aiMeasures.find(ai => \n    ai.json.refId && fId && String(ai.json.refId).trim() === String(fId).trim()\n  );\n\n  let result = {\n    ...data,\n    \"RPZ Status\": getRisikoStatus(data.rpz), // Ursprünglicher Status\n    massnahme_generiert: null,\n    restrisiko: null\n  };\n\n  if (matchingMeasure) {\n    const rpzNeu = matchingMeasure.json.rpz_neu;\n\n    result.massnahme_generiert = {\n      name: matchingMeasure.json.massnahme_name,\n      kategorie: matchingMeasure.json.abe_kategorie,\n      beschreibung: matchingMeasure.json.beschreibung\n    };\n    \n    result.restrisiko = {\n      S_neu: matchingMeasure.json.restrisiko_S,\n      O_neu: matchingMeasure.json.restrisiko_O,\n      D_neu: matchingMeasure.json.restrisiko_D,\n      rpz_neu: rpzNeu,\n      \"RPZ Status neu\": getRisikoStatus(rpzNeu), // Neuer Status\n      begruendung: matchingMeasure.json.logik_check\n    };\n    \n    result.risiko_delta = (Number(data.rpz) || 0) - (Number(rpzNeu) || 0);\n  }\n\n  return { json: result };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6688,
        912
      ],
      "id": "b260b8bc-900d-430e-800a-bab2c56ad69c",
      "name": "Collect Optimizations (LLM Chain Version)",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        7168,
        1328
      ],
      "id": "1e4eae87-8c25-42af-aec8-b5c83199ca1c",
      "name": "Merge1"
    },
    {
      "parameters": {
        "content": "## Optimization\n",
        "height": 752,
        "width": 2256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4704,
        800
      ],
      "typeVersion": 1,
      "id": "09bc183f-f4d1-4cbf-b425-36a470100575",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Fehleranalyse\n",
        "height": 560,
        "width": 2864
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1776,
        688
      ],
      "typeVersion": 1,
      "id": "e547790a-43ac-4d80-9d00-a8c023c73b85",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Funktionsfinder\n",
        "height": 752,
        "width": 1424
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        672
      ],
      "typeVersion": 1,
      "id": "213f1533-bc07-4cf9-a522-1aa08f278493",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Strukturierung der Daten",
        "height": 448,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2096,
        1376
      ],
      "typeVersion": 1,
      "id": "ffc54ecd-bd48-4537-bab4-bda0fb2febc7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.komponenten_typ }}",
                    "rightValue": "prozess",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "165fddb1-aa18-48be-aad9-ed36bf4f525c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "prozess"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8fd8cbc6-c69b-4b25-a0fc-2b68e73c3e23",
                    "leftValue": "={{ $json.komponenten_typ }}",
                    "rightValue": "thermisch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "thermisch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "27cb240a-bd5e-4884-8e98-847297e2b450",
                    "leftValue": "={{ $json.komponenten_typ }}",
                    "rightValue": "mechanisch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mechanisch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "29dfa4fc-0876-4559-899e-7adeb330fd86",
                    "leftValue": "={{ $json.komponenten_typ }}",
                    "rightValue": "elektrisch",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "elektrisch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b10dbf83-3244-4e01-a31b-8fd27cee7c1d",
                    "leftValue": "={{ $json.komponenten_typ }}",
                    "rightValue": "sicherheit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sicherheit"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "15c6bf5f-bacd-4372-bc2d-f1563ed500ef",
                    "leftValue": "={{ $json.komponenten_typ }}",
                    "rightValue": "dosierung",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "dosierung"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7e01c45a-fe27-4fe5-951a-e5dbe67a6086",
                    "leftValue": "={{ $json.komponenten_typ }}",
                    "rightValue": "sonstiges",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sonstiges"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d97b4338-d1f5-4401-8f6c-f4c704b44be6",
                    "leftValue": "={{ $json.komponenten_typ }}",
                    "rightValue": "msr",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msr"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c1168b11-1e65-46f1-9776-e501d7cfa621",
                    "leftValue": "={{ $json.komponenten_typ }}",
                    "rightValue": "equipment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "equipment"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        656,
        816
      ],
      "id": "296ae7ee-fb6b-484f-9240-f529aa636d20",
      "name": "Switch1"
    },
    {
      "parameters": {
        "content": "## Validieren der Daten",
        "height": 416,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2912,
        784
      ],
      "typeVersion": 1,
      "id": "6da93866-563f-4d48-8bae-6e628d18d137",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1472,
        912
      ],
      "id": "d322e5ab-4e50-40aa-b0cd-913912bd05d3",
      "name": "Limit1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Limiter\n",
        "height": 480,
        "width": 784,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        736
      ],
      "typeVersion": 1,
      "id": "d3073c38-56b0-42f8-bd59-1c5973cfe467",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f15753f5-2d74-4197-a20e-4ef35bd41135",
              "name": "mapping",
              "value": "[\n  { \"keyword\": \"synthese\", \"category\": \"prozess\" },\n  { \"keyword\": \"reaktion\", \"category\": \"prozess\" },\n  { \"keyword\": \"heizung\", \"category\": \"thermisch\" },\n  { \"keyword\": \"kühlung\", \"category\": \"thermisch\" },\n  { \"keyword\": \"temperatur\", \"category\": \"thermisch\" },\n  { \"keyword\": \"druck\", \"category\": \"mechanisch\" },\n  { \"keyword\": \"dichtheit\", \"category\": \"mechanisch\" },\n  { \"keyword\": \"emergency\", \"category\": \"sicherheit\" },\n  { \"keyword\": \"schutz\", \"category\": \"sicherheit\" }\n]",
              "type": "array"
            },
            {
              "id": "bff4ea48-6556-4e35-bb20-8b9a6e99affb",
              "name": "fehler-templates",
              "value": "[\n{\n  \"prozess\": [\n    { \"typ\": \"Mehr Stoffstrom (High Flow)\", \"beschreibung\": \"Überschreitung der Auslegungskapazität, verringerte Verweilzeit oder Überfüllung nachgeschalteter Apparate.\" },\n    { \"typ\": \"Weniger Stoffstrom (Low Flow)\", \"beschreibung\": \"Unterschreitung der Mindestströmung, Gefahr von Ablagerungen oder unzureichender Durchmischung.\" },\n    { \"typ\": \"Kein Stoffstrom (No Flow)\", \"beschreibung\": \"Vollständiger Abriss der Versorgung, Trockenlauf von Pumpen oder Entstehen von gefährlichen Totvolumina.\" },\n    { \"typ\": \"Rückstrom (Reverse Flow)\", \"beschreibung\": \"Umkehrung der Fließrichtung durch Druckunterschiede, führt zu Kontamination von Vorlagen oder Reaktionen in Zuleitungen.\" },\n    { \"typ\": \"Mehr Druck (High Pressure)\", \"beschreibung\": \"Überschreitung des zulässigen Betriebsdrucks (PS), Gefahr des Berstens oder Ansprechen von Sicherheitseinrichtungen.\" },\n    { \"typ\": \"Weniger Druck (Low Pressure/Vacuum)\", \"beschreibung\": \"Unterschreitung des Mindestdrucks, Gefahr der Kavitation oder Implosion bei nicht vakuumfesten Apparaten.\" },\n    { \"typ\": \"Konzentrationsabweichung\", \"beschreibung\": \"Falsches stöchiometrisches Verhältnis, führt zu Nebenreaktionen, Ausbeuteverlust oder thermischer Instabilität.\" },\n    { \"typ\": \"Phasentrennung / Entmischung\", \"beschreibung\": \"Ungewollte Bildung von Schichten (z.B. Emulsionsbruch), führt zu Fehlmessungen oder lokalen Reaktions-Hotspots.\" },\n    { \"typ\": \"Verschleppung / Kontamination\", \"beschreibung\": \"Eintrag von Fremdstoffen oder Rückständen aus Vorchargen, die als Katalysator oder Inhibitor wirken.\" }\n  ],\n  \"thermisch\": [\n    { \"typ\": \"Mehr Temperatur (High Temperature)\", \"beschreibung\": \"Beschleunigung exothermer Reaktionen (Runaway-Gefahr), thermische Zersetzung des Mediums oder Materialerweichung.\" },\n    { \"typ\": \"Weniger Temperatur (Low Temperature)\", \"beschreibung\": \"Einfrieren von Medien, Auskristallisation (Blockade), Viskositätsanstieg (Pumpenüberlastung) oder Sprödbruch von Werkstoffen.\" },\n    { \"typ\": \"Thermischer Schock\", \"beschreibung\": \"Extreme Temperaturgradienten führen zu Spannungsrissen in Emaille-Auskleidungen oder Schweißnähten.\" },\n    { \"typ\": \"Verlust der Wärmeabfuhr\", \"beschreibung\": \"Ausfall des Kühlmediums oder Verschmutzung der Tauscherflächen (Fouling), führt zu unkontrolliertem Temperaturanstieg.\" },\n    { \"typ\": \"Lokale Überhitzung (Hot Spot)\", \"beschreibung\": \"Ungleichmäßige Wärmeverteilung, z.B. durch defekte Rührwerke oder Wandbeläge, führt zu lokalem Materialversagen.\" }\n  ],\n  \"mechanisch\": [\n    { \"typ\": \"Erosion / Abrasion\", \"beschreibung\": \"Materialabtrag durch feststoffhaltige Medien oder hohe Strömungsgeschwindigkeiten, führt zu Wandstärkenunterschreitung.\" },\n    { \"typ\": \"Kavitation\", \"beschreibung\": \"Dampfblasenbildung und Schlagartige Kondensation, führt zu Materialzerstörung an Laufrädern und Ventilsitzen.\" },\n    { \"typ\": \"Vibration / Resonanz\", \"beschreibung\": \"Mechanische Schwingungen durch Pumpen oder Rührwerke, führen zu Ermüdungsbrüchen an Kleinstutzen und Verschraubungen.\" },\n    { \"typ\": \"Äußere Leckage (Integritätsverlust)\", \"beschreibung\": \"Versagen von Flanschdichtungen oder Stopfbuchsen, führt zu Medienaustritt in die Umwelt.\" },\n    { \"typ\": \"Innere Leckage (Bypass)\", \"beschreibung\": \"Durchbruch an Wärmetauscherrohren oder defekte Ventilsitze, führt zu prozessinterner Vermischung.\" },\n    { \"typ\": \"Materialermüdung\", \"beschreibung\": \"Rissbildung durch zyklische Druck- oder Temperaturbelastungen (Lastwechsel).\" }\n  ],\n  \"equipment\": [\n    { \"typ\": \"Fouling / Belagbildung\", \"beschreibung\": \"Aufbau von Feststoffschichten auf Funktionsflächen, reduziert Wärmeübergang oder verengt Querschnitte.\" },\n    { \"typ\": \"Verstopfung / Blockade\", \"beschreibung\": \"Verschluss von Filtern, Sieben oder Rohrleitungen durch Fremdkörper oder Produktansammlungen.\" },\n    { \"typ\": \"Gleitringdichtungsversagen\", \"beschreibung\": \"Ausfall der Wellenabdichtung an rotierendem Equipment, oft verbunden mit dem Verlust des Sperrmediums.\" },\n    { \"typ\": \"Innere Beschädigung (Einbauten)\", \"beschreibung\": \"Bruch von Stromstörern, Füllkörpern oder Filterkerzen, beeinträchtigt Stoff- und Wärmeaustausch.\" },\n    { \"typ\": \"Vakuumverlust\", \"beschreibung\": \"Eindringen von Falschluft in evakuierte Systeme, beeinträchtigt Siedepunkte oder führt zu explosiven Gemischen.\" }\n  ],\n  \"elektrisch\": [\n    { \"typ\": \"Vollständiger Spannungsausfall (Blackout)\", \"beschreibung\": \"Absturz aller aktiven Komponenten, Übergang der Anlage in den undefinierten Zustand.\" },\n    { \"typ\": \"Spannungseinbruch (Brownout)\", \"beschreibung\": \"Kurzzeitige Unterspannung, führt zu unkontrollierten Resets von Steuerungen oder Abfallen von Schützen.\" },\n    { \"typ\": \"Phasenausfall / Asymmetrie\", \"beschreibung\": \"Unregelmäßige Versorgung von Drehstrommotoren, führt zu Überhitzung und Wicklungsschäden.\" },\n    { \"typ\": \"EMV-Einkopplung\", \"beschreibung\": \"Elektromagnetische Störsignale auf Signalleitungen, führen zu sporadischen Fehlmessungen oder CPU-Stopps.\" },\n    { \"typ\": \"Erdschluss / Isolationsfehler\", \"beschreibung\": \"Fehlerstrom gegen Gehäuse, führt zur Auslösung von Schutzeinrichtungen oder Personengefahr.\" }\n  ],\n  \"msr\": [\n    { \"typ\": \"Eingefrorener Messwert (Frozen Value)\", \"beschreibung\": \"Sensor liefert konstanten Wert trotz Prozessänderung (z.B. durch verstopfte Impulsleitung), Regelung reagiert nicht.\" },\n    { \"typ\": \"Messwertdrift\", \"beschreibung\": \"Schleichende Veränderung der Kalibrierung, führt zu unbemerktem Verlassen des optimalen Betriebspunkts.\" },\n    { \"typ\": \"Signalrauschen / Spikes\", \"beschreibung\": \"Instabile Signale führen zu hoher mechanischer Belastung der Aktoren (ständiges Nachregeln).\" },\n    { \"typ\": \"Aktor-Blockade (Stuck-at)\", \"beschreibung\": \"Stellventil oder Klappe klemmt mechanisch, Reglerausgang bleibt ohne Wirkung.\" },\n    { \"typ\": \"Logikfehler / Software-Bug\", \"beschreibung\": \"Fehlerhafte Implementierung von Verriegelungen oder Schrittketten führt zu falscher Fahrweise.\" },\n    { \"typ\": \"Kommunikationsabriss (Busfehler)\", \"beschreibung\": \"Verlust der Verbindung zwischen E/A-Ebene und CPU, Aktoren gehen meist in Fail-Safe-Zustand.\" },\n    { \"typ\": \"Antivalenzfehler\", \"beschreibung\": \"Widersprüchliche Rückmeldungen von Endlagenschaltern (z.B. 'Offen' und 'Geschlossen' gleichzeitig).\" }\n  ],\n  \"sicherheit\": [\n    { \"typ\": \"Nicht-Öffnen (Safety Valve)\", \"beschreibung\": \"Sicherheitsventil klemmt oder ist verklebt, Unzulässiger Druckaufbau wird nicht begrenzt.\" },\n    { \"typ\": \"Frühzeitiges Ansprechen\", \"beschreibung\": \"Sicherheitsventil oder Berstscheibe löst unterhalb des Ansprechdrucks aus, führt zu Prozessunterbrechung und Medienaustritt.\" },\n    { \"typ\": \"Ausfall der Inertisierung\", \"beschreibung\": \"Verlust des Stickstoffpolsters, Entstehen einer explosionsfähigen Atmosphäre im Behälter.\" },\n    { \"typ\": \"Flammendurchschlag\", \"beschreibung\": \"Defekt an Deflagrationssicherungen, ermöglicht Brandübertragung in andere Anlagenteile.\" },\n    { \"typ\": \"Fehlauslösung Not-Halt\", \"beschreibung\": \"Unberechtigtes Auslösen der Schutzkette, führt zu instabilen Zuständen durch plötzlichen Stillstand.\" }\n  ],\n  \"dosierung\": [\n    { \"typ\": \"Überdosierung (Single Point Failure)\", \"beschreibung\": \"Zuviel Komponente A führt zu unkontrollierter Exothermie oder Produktverlust.\" },\n    { \"typ\": \"Unterdosierung\", \"beschreibung\": \"Zuwenig Katalysator oder Reaktant verhindert den Reaktionsstart (Akkumulationsgefahr).\" },\n    { \"typ\": \"Falsche Dosierreihenfolge\", \"beschreibung\": \"Abweichung vom Rezept, kann zu gefährlichen Zwischenprodukten oder Feststoffausfall führen.\" },\n    { \"typ\": \"Gasblasen im Dosierstrom\", \"beschreibung\": \"Inhomogenität im Medium führt zu massiven Volumenstromfehlern bei Verdrängerpumpen.\" }\n  ],\n  \"sonstiges\": [\n    { \"typ\": \"Bedienfehler (Human Error)\", \"beschreibung\": \"Falsche Sollwertvorgabe oder Fehlinterpretation von Alarmen durch das Personal.\" },\n    { \"typ\": \"Kennzeichnungsfehler\", \"beschreibung\": \"Falsche Beschriftung von Leitungen oder Handventilen führt zu Verwechslungen bei Wartung/Betrieb.\" },\n    { \"typ\": \"Externe Einwirkung\", \"beschreibung\": \"Beschädigung von Rohrleitungen durch Staplerverkehr oder herabfallende Lasten.\" }\n  ]\n}\n]",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        880
      ],
      "id": "92551702-ce23-4284-bbc1-099017be7b03",
      "name": "Fehlermatrix u. -zuordnung"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// MERGE: FMEA-DETAILS + ANLAGENKONTEXT\n// ============================================================\n\n// 1. Zugriff auf die Daten der Structure Analysis Node\n// Der Name in $(...) muss exakt dem Namen der Node entsprechen\nconst structureData = $('Structure Analysis').all();\n\n// 2. Map erstellen für schnellen Zugriff über die ID (KOMP-XXX)\nconst structureMap = {};\nstructureData.forEach(item => {\n  structureMap[item.json.id] = item.json;\n});\n\nconst finalFMEA = [];\n\n// 3. Über die aktuellen FMEA-Items (Input dieser Node) iterieren\nfor (const item of items) {\n  const fmeaEntry = item.json;\n  const kompId = fmeaEntry.komponenten_id;\n  \n  // Die passenden Anlagendaten finden\n  const anlage = structureMap[kompId] || {};\n\n  // 4. Daten zusammenführen\n  finalFMEA.push({\n    // --- FMEA Kern-Daten ---\n    komponenten_id: kompId,\n    komponente: fmeaEntry.komponente,\n    fehler_id: fmeaEntry.fehler_id,\n    fehlermodus: fmeaEntry.fehlermodus,\n    fehlerart: fmeaEntry.fehlerart,\n    ursachen: fmeaEntry.fehlerursachen,\n    folgen: fmeaEntry.fehlerfolgen,\n    \n    // --- Risikobewertung & RPZ ---\n    risiko: fmeaEntry.risikobewertung,\n    rpz: (fmeaEntry.risikobewertung?.S || 0) * (fmeaEntry.risikobewertung?.O || 0) * (fmeaEntry.risikobewertung?.D || 0),\n\n    // --- Technischer Kontext aus Structure Analysis ---\n    system: anlage.systemName || \"k.A.\",\n    komponenten_typ: anlage.typ || \"k.A.\",\n    prozess_details: {\n        druck_temp: anlage.lean_context?.process_conditions || {},\n        medien: anlage.lean_context?.active_substances || [],\n        verfuegbare_sensorik: anlage.lean_context?.available_sensors || [],\n        sicherheitseinrichtungen: anlage.lean_context?.safety_features || []\n    }\n  });\n}\n\n// 5. Ergebnis ausgeben\nreturn finalFMEA.map(f => ({ json: f }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3632,
        896
      ],
      "id": "04b78b7a-9bff-42a2-b55e-3e546dd6e55e",
      "name": "Kombination mit Anlagendaten2"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// MERGE: FUNKTIONEN + STRUKTURDATEN\n// ============================================================\n\n// 1. Hol dir alle Komponenten aus der \"Structure Analysis\" Node\n// Ersetze 'Structure Analysis' exakt durch den Namen deiner Node\nconst structureData = $( 'Structure Analysis' ).all();\n\n// 2. Erstelle eine Map für schnellen Zugriff via ID\nconst structureMap = {};\nstructureData.forEach(item => {\n  structureMap[item.json.id] = item.json;\n});\n\nconst mergedResults = [];\n\n// 3. Iteriere über die Funktionen (Input dieser Node)\nfor (const item of items) {\n  const func = item.json;\n  const kompId = func.komponenten_id;\n  \n  // Suche die passenden Strukturdaten\n  const detail = structureMap[kompId] || {};\n\n  // 4. Kombiniere die Daten\n  mergedResults.push({\n    // Basis-Infos aus der Funktionsanalyse\n    komponenten_id: kompId,\n    komponente: func.komponente,\n    funktion_id: func.funktion_id,\n    funktion_typ: func.funktion_typ,\n    funktion_beschreibung: func.funktion_beschreibung,\n    anforderungen: func.anforderungen,\n\n    // Ergänzte Infos aus der Struktur-Analyse\n    systemName: detail.systemName || \"k.A.\",\n    komponenten_typ: detail.typ || func.komponenten_typ,\n    beschreibung_technisch: detail.beschreibung || \"\",\n    parameters: detail.parameters || {},\n    lean_context: detail.lean_context || {}\n  });\n}\n\n// 5. Rückgabe der angereicherten Funktions-Items\nreturn mergedResults.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        944
      ],
      "id": "4452b8e9-ef95-4779-b25a-8a0f02b88ff0",
      "name": "Kombination mit Anlagendaten1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Extrahiere den Text aus dem LLM-Input\nlet rawText = $json.text;\n\n// 2. Säuberung von Markdown-Code-Blocks (Entfernt ```json und ```)\nif (rawText.includes('```json')) {\n    rawText = rawText.replace(/```json/g, '').replace(/```/g, '');\n} else if (rawText.includes('```')) {\n    rawText = rawText.replace(/```/g, '');\n}\n\ntry {\n    // 3. String in ein JSON-Objekt umwandeln\n    const parsedData = JSON.parse(rawText.trim());\n\n    // 4. Rückgabe der bereinigten Daten\n    // Wir geben alle Felder der KI-Antwort direkt auf der obersten Ebene zurück\n    return {\n        refId: parsedData.refId,\n        massnahme_name: parsedData.massnahme_name,\n        abe_kategorie: parsedData.abe_kategorie,\n        beschreibung: parsedData.beschreibung,\n        restrisiko_S: parsedData.restrisiko.S,\n        restrisiko_O: parsedData.restrisiko.O,\n        restrisiko_D: parsedData.restrisiko.D,\n        // Berechnung der neuen RPZ zur Sicherheit\n        rpz_neu: parsedData.restrisiko.S * parsedData.restrisiko.O * parsedData.restrisiko.D,\n        logik_check: parsedData.logik_check\n    };\n\n} catch (error) {\n    // Falls das LLM kein valides JSON liefert, geben wir eine Fehlermeldung aus\n    return {\n        error: \"JSON Parsing fehlgeschlagen\",\n        raw_output: rawText,\n        error_details: error.message\n    };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6480,
        912
      ],
      "id": "62d4fda9-5509-4886-b422-68e315f5396c",
      "name": "Parse Maßnahmen"
    },
    {
      "parameters": {
        "numberInputs": 9
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        816
      ],
      "id": "9b5ba0c7-e532-4713-8779-0e5d8246ea1d",
      "name": "Merge2"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3344,
        1104
      ],
      "id": "b6519d7e-5e55-4aad-b16b-56ee2c4672e5",
      "name": "Wait1",
      "webhookId": "92f58978-371e-44c8-846a-dda7a6e30cbc"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        128,
        1152
      ],
      "id": "e48377c4-eb88-4e6b-b5f2-e9b6565f4807",
      "name": "Wait2",
      "webhookId": "4bbab71d-02b8-4d34-b9af-0aaeae276819"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -592,
        928
      ],
      "id": "f323b2f0-20bf-4de8-8b38-d4ea97404e63",
      "name": "Loop Over Items2"
    }
  ],
  "pinData": {
    "Gefahrenfeldsuche ZHA": [
      {
        "json": {
          "text": "{ \n\"type\": \"hazard_analysis\",\n\"data\": [\n  {\n    \"id\": \"1.5\",\n    \"reasoning\": \"1 bar(ü) → Druck\"\n  },\n  {\n    \"id\": \"1.6\",\n    \"reasoning\": \"80°C → Temperatur\"\n  },\n  {\n    \"id\": \"2.4\",\n    \"reasoning\": \"Essigsäure (corrosive) → Korrosion\"\n  },\n  {\n    \"id\": \"2.5\",\n    \"reasoning\": \"Reaktor → Reaktor\"\n  },\n  {\n    \"id\": \"3.9\",\n    \"reasoning\": \"Ethanol (brennbar) → brennbar\"\n  }\n]\n}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Risikoanalyse ZHA": [
      {
        "json": {
          "text": "```\n{\n  \"type\": \"hazop_analysis\",\n  \"data\": [\n    {\n      \"analysis\": \"Überdruck im Reaktor R-101\",\n      \"plantSection\": \"Reaktor R-101\",\n      \"parameter\": \"Druck\",\n      \"deviation\": \"Zu hoch\",\n      \"cause\": \"Sicherheitsventil blockiert oder defekt\",\n      \"consequence\": \"Bersten des Reaktors, Freisetzung von Ethanol und Essigsäure\",\n      \"severity\": 5,\n      \"probability\": 2,\n      \"initialReasoning\": \"Der Reaktor ist nicht für höhere Drücke ausgelegt. Ein Bersten könnte zu einer großflächigen Umweltkatastrophe führen.\",\n      \"measures\": {\n        \"substitution\": [],\n        \"technical\": [\n          {\n            \"description\": \"Sicherheitsventil überprüfen und warten\",\n            \"impact\": \"probability|severity\"\n          },\n          {\n            \"description\": \"Berstscheibe installieren\",\n            \"impact\": \"severity\"\n          }\n        ],\n        \"organizational\": [\n          {\n            \"description\": \"Regelmäßige Sicherheitschecks durchführen\",\n            \"impact\": \"probability\"\n          }\n        ],\n        \"personal\": []\n      },\n      \"residualSeverity\": 3,\n      \"residualProbability\": 1,\n      \"residualReasoning\": \"Nach Installation von Sicherheitsmaßnahmen ist das Restrisiko minimiert.\"\n    },\n    {\n      \"analysis\": \"Überhitzung im Heizmantel\",\n      \"plantSection\": \"Heizmantel\",\n      \"parameter\": \"Temperatur\",\n      \"deviation\": \"Zu hoch\",\n      \"cause\": \"Dampfzufuhr nicht reguliert\",\n      \"consequence\": \"Überhitzung des Reaktors, Zersetzung von Ethanol und Essigsäure\",\n      \"severity\": 4,\n      \"probability\": 3,\n      \"initialReasoning\": \"Eine Überhitzung könnte zu einer chemischen Reaktion führen, die unkontrollierte Produkte erzeugt.\",\n      \"measures\": {\n        \"substitution\": [],\n        \"technical\": [\n          {\n            \"description\": \"Temperaturregelung im Heizmantel installieren\",\n            \"impact\": \"probability|severity\"\n          }\n        ],\n        \"organizational\": [\n          {\n            \"description\": \"Bedienungspersonal schulen\",\n            \"impact\": \"probability\"\n          }\n        ],\n        \"personal\": []\n      },\n      \"residualSeverity\": 2,\n      \"residualProbability\": 1,\n      \"residualReasoning\": \"Nach Installation von Sicherheitsmaßnahmen ist das Restrisiko minimiert.\"\n    },\n    {\n      \"analysis\": \"Austritt von Ethanol\",\n      \"plantSection\": \"Reaktor R-101\",\n      \"parameter\": \"Medium\",\n      \"deviation\": \"Leckage\",\n      \"cause\": \"Korrosion durch Essigsäure\",\n      \"consequence\": \"Freisetzung von brennbarem Ethanol\",\n      \"severity\": 4,\n      \"probability\": 2,\n      \"initialReasoning\": \"Ein Austritt von Ethanol könnte zu einem Brand führen.\",\n      \"measures\": {\n        \"substitution\": [],\n        \"technical\": [\n          {\n            \"description\": \"Korrosionsbeständige Materialien verwenden\",\n            \"impact\": \"probability|severity\"\n          }\n        ],\n        \"organizational\": [\n          {\n            \"description\": \"Regelmäßige Inspektionen durchführen\",\n            \"impact\": \"probability\"\n          }\n        ],\n        \"personal\": []\n      },\n      \"residualSeverity\": 2,\n      \"residualProbability\": 1,\n      \"residualReasoning\": \"Nach Installation von Sicherheitsmaßnahmen ist das Restrisiko minimiert.\"\n    }\n  ]\n}\n```"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Anlagendaten": [
      {
        "json": {
          "teilanlage_nr": "20TA41",
          "bezeichnung": "Ethylacetatproduktion",
          "location": {
            "site": "Produktionswerk Süd",
            "building": "Produktionshalle B",
            "room": "Reaktorraum R1",
            "floor": "EG",
            "area": "Synthesebereich",
            "isOutdoor": false
          },
          "processDescription": {
            "description": "Batch-Synthese von Ethylacetat aus Ethanol und Essigsäure mit Schwefelsäure-Katalyse (Fischer-Veresterung). Reaktionstemperatur 80-100 °C, Druck 1-1.2 bar. Gleichgewichtsreaktion mit kontinuierlicher Wasserabtrennung durch azeotrope Destillation. Vollautomatisiert mit DCS (Siemens PCS7), Ex-Zone 1.",
            "operatingMode": "Batch (diskontinuierlich)",
            "purpose": "Produktion von Ethylacetat (technisch rein, > 99.5 %) im Produktionsmaßstab für Lackierereien und chemische Industrie",
            "additionalNotes": "Anlage unterliegt der 12. BImSchV (Störfall-Verordnung), Grundpflichten. Ex-Zone 1 im gesamten Anlagenbereich. Zutritt nur für unterwiesenes Personal."
          },
          "systems": [
            {
              "name": "Synthesereaktor R-101",
              "type": "main",
              "description": "Edelstahl Batch-Reaktor mit Destillationskolonne, 500L Nennvolumen, vollautomatisiert",
              "location": {
                "site": "Produktionswerk Süd",
                "building": "Produktionshalle B",
                "room": "Reaktorraum R1",
                "floor": "EG",
                "area": "Synthesebereich",
                "isOutdoor": false
              },
              "parameters": {
                "Nennvolumen": "500 L",
                "Material": "Stainless Steel 1.4571 (316Ti)",
                "MaxFüllvolumen": "400 L",
                "ExZone": "Zone 1"
              },
              "designData": [
                {
                  "key": "MinTemperatur",
                  "label": "Min. Temperatur",
                  "value": "-20",
                  "unit": "°C"
                },
                {
                  "key": "MaxTemperatur",
                  "label": "Max. Temperatur",
                  "value": "180",
                  "unit": "°C"
                },
                {
                  "key": "MinDruck",
                  "label": "Min. Druck",
                  "value": "-0.9",
                  "unit": "bar"
                },
                {
                  "key": "MaxDruck",
                  "label": "Max. Druck",
                  "value": "6",
                  "unit": "bar"
                },
                {
                  "key": "Nennvolumen",
                  "label": "Nennvolumen",
                  "value": "500",
                  "unit": "L"
                },
                {
                  "key": "Material",
                  "label": "Material",
                  "value": "Stainless Steel 1.4571 (316Ti)",
                  "unit": ""
                }
              ],
              "processConditions": {
                "Betriebstemperatur": "80 °C",
                "MinBetriebstemperatur": "20 °C",
                "MaxBetriebstemperatur": "100 °C",
                "Betriebsdruck": "1 bar",
                "MinBetriebsdruck": "0.5 bar",
                "MaxBetriebsdruck": "1.2 bar"
              },
              "hasCompleteDesignData": true,
              "hasExtendedParameters": true,
              "createdBy": "user",
              "equipment": [
                {
                  "name": "Heizmantel HM-101",
                  "type": "Dampfmantel",
                  "position": "Mantel",
                  "driveType": null,
                  "parameters": {
                    "MaxTemperatur": "160 °C",
                    "Dampfdruck": "6 bar",
                    "Medium": "Sattdampf",
                    "Heizfläche": "2.5 m²"
                  }
                },
                {
                  "name": "Kühlmantel KM-101",
                  "type": "Kühlwassermantel",
                  "position": "Mantel",
                  "driveType": null,
                  "parameters": {
                    "MinTemperatur": "10 °C",
                    "Durchfluss": "500 L/h",
                    "EmergencyCooling": "Sole -10 °C",
                    "Kühlfläche": "2.5 m²"
                  }
                },
                {
                  "name": "Rührwerk RW-101",
                  "type": "Ankerrührer",
                  "position": "Zentral",
                  "driveType": "elektrisch",
                  "parameters": {
                    "MaxDrehzahl": "200 U/min",
                    "MinDrehzahl": "10 U/min",
                    "Leistung": "5 kW",
                    "ExSchutz": "ATEX Zone 1",
                    "Wellendurchmesser": "60 mm"
                  }
                },
                {
                  "name": "Destillationskolonne K-101",
                  "type": "Packungskolonne",
                  "position": "Kopf",
                  "driveType": null,
                  "parameters": {
                    "TheoretischeBöden": "10 Stück",
                    "Höhe": "3 m",
                    "Durchmesser": "200 mm",
                    "Packung": "Strukturpackung Mellapak 250Y"
                  }
                },
                {
                  "name": "Kondensator KD-101",
                  "type": "Rohrbündel-Wärmetauscher",
                  "position": "Kolonnenkopf",
                  "driveType": null,
                  "parameters": {
                    "Fläche": "5 m²",
                    "Kühlmedium": "Kühlwasser",
                    "Rohrseitig": "Produkt",
                    "Mantelseitig": "Kühlwasser"
                  }
                },
                {
                  "name": "Kondensator KD-102",
                  "type": "Rohrbündel-Wärmetauscher",
                  "position": "Kolonnenkopf",
                  "driveType": null,
                  "parameters": {
                    "Fläche": "8 m²",
                    "Kühlmedium": "Kühlwasser",
                    "Rohrseitig": "Produkt",
                    "Mantelseitig": "Kühlwasser"
                  }
                },
                {
                  "name": "Destillatvorlage DV-101",
                  "type": "Edelstahl-Vorlage",
                  "position": "Ausgang",
                  "driveType": null,
                  "parameters": {
                    "Volumen": "50 L",
                    "Inhalt": "Ethylacetat",
                    "Material": "1.4571"
                  }
                },
                {
                  "name": "Destillatvorlage DV-102",
                  "type": "Edelstahl-Vorlage",
                  "position": "Ausgang",
                  "driveType": null,
                  "parameters": {
                    "Volumen": "50 L",
                    "Inhalt": "Wasser",
                    "Material": "1.4571"
                  }
                }
              ],
              "msrEquipment": [
                {
                  "name": "TIC-401",
                  "type": "Temperaturfühler",
                  "position": "Prozess",
                  "signalType": "4-20 mA",
                  "sil": "SIL-1",
                  "atex": "Zone 1",
                  "ipRating": "IP65",
                  "parameters": {
                    "Messbereich": "-30 bis 180 °C",
                    "Regelung": "PID",
                    "Genauigkeit": "±0.5 °C",
                    "Ansprechzeit": "T90 < 5 s"
                  }
                },
                {
                  "name": "TI-401a",
                  "type": "Temperaturfühler",
                  "position": "Mantel Eingang",
                  "signalType": "4-20 mA",
                  "sil": null,
                  "atex": "Zone 1",
                  "ipRating": "IP65",
                  "parameters": {
                    "Messbereich": "0 bis 200 °C",
                    "Genauigkeit": "±1 °C"
                  }
                },
                {
                  "name": "TI-401b",
                  "type": "Temperaturfühler",
                  "position": "Mantel Ausgang",
                  "signalType": "4-20 mA",
                  "sil": null,
                  "atex": "Zone 1",
                  "ipRating": "IP65",
                  "parameters": {
                    "Messbereich": "0 bis 200 °C",
                    "Genauigkeit": "±1 °C"
                  }
                },
                {
                  "name": "PIC-402",
                  "type": "Drucksensor",
                  "position": "Prozess",
                  "signalType": "4-20 mA",
                  "sil": "SIL-1",
                  "atex": "Zone 1",
                  "ipRating": "IP65",
                  "parameters": {
                    "Messbereich": "-1 bis 8 bar",
                    "Regelung": "PID",
                    "Genauigkeit": "±0.1 bar"
                  }
                },
                {
                  "name": "LIC-403",
                  "type": "Füllstandssensor",
                  "position": "Prozess",
                  "signalType": "4-20 mA",
                  "sil": "SIL-1",
                  "atex": "Zone 1",
                  "ipRating": "IP65",
                  "parameters": {
                    "Messbereich": "0 bis 500 L",
                    "Messprinzip": "Radar",
                    "Regelung": "PID",
                    "Genauigkeit": "±1 %"
                  }
                },
                {
                  "name": "LSHH-403",
                  "type": "Füllstandsschalter",
                  "position": "Prozess",
                  "signalType": "Relais",
                  "sil": "SIL-2",
                  "atex": "Zone 1",
                  "ipRating": "IP65",
                  "parameters": {
                    "Schaltpunkt": "480 L",
                    "Messprinzip": "Vibration",
                    "Funktion": "Überfüllsicherung"
                  }
                },
                {
                  "name": "SIC-404",
                  "type": "Drehzahlregler",
                  "position": "Rührwerk",
                  "signalType": "4-20 mA",
                  "sil": null,
                  "atex": "Zone 1",
                  "ipRating": "IP55",
                  "parameters": {
                    "Messbereich": "0 bis 250 U/min",
                    "Regelung": "PID",
                    "Frequenzumrichter": "VFD 5.5 kW"
                  }
                }
              ],
              "securityFeatures": [
                {
                  "name": "PSV-410",
                  "type": "Sicherheitsventil",
                  "position": "Reaktorkopf",
                  "parameters": {
                    "Ansprechdruck": "6 bar",
                    "Nenndurchmesser": "DN50",
                    "Abblasmenge": "1500 kg/h",
                    "Abblaseleitung": "Fackel",
                    "Prüfintervall": "1 Jahr"
                  }
                },
                {
                  "name": "BSV-411",
                  "type": "Berstscheibe",
                  "position": "Reaktorkopf",
                  "parameters": {
                    "Ansprechdruck": "6.5 bar",
                    "Nenndurchmesser": "DN50",
                    "Material": "Hastelloy C276",
                    "Abblaseleitung": "Fackel"
                  }
                },
                {
                  "name": "VSV-412",
                  "type": "Vakuum-Sicherheitsventil",
                  "position": "Reaktorkopf",
                  "parameters": {
                    "Ansprechdruck": "-0.8 bar",
                    "Nenndurchmesser": "DN25",
                    "Funktion": "Vakuumbrecher"
                  }
                },
                {
                  "name": "NOT-AUS-R101",
                  "type": "NOT-AUS",
                  "position": "Vor Ort / Leitstand",
                  "parameters": {
                    "Funktion": "Abschaltung aller Antriebe, Schließen Eingangsventile",
                    "Reaktionszeit": "< 1 s",
                    "Rückstellung": "Manuell vor Ort"
                  }
                }
              ],
              "substances": {
                "feedstocks": [
                  "Ethanol",
                  "Essigsäure"
                ],
                "intermediates": [
                  "Ethanol-Essigsäure-Gemisch"
                ],
                "products": [
                  "Ethylacetat"
                ],
                "unassigned": [
                  "Schwefelsäure",
                  "Wasser"
                ]
              },
              "substanceProcessConditions": {
                "Ethanol": {
                  "MinBetriebstemperatur": "20 °C",
                  "MaxBetriebstemperatur": "78 °C",
                  "MinBetriebsdruck": "1 bar",
                  "MaxBetriebsdruck": "1.2 bar",
                  "Konzentration": "96 Vol.-%"
                },
                "Essigsäure": {
                  "MinBetriebstemperatur": "20 °C",
                  "MaxBetriebstemperatur": "100 °C",
                  "MinBetriebsdruck": "1 bar",
                  "MaxBetriebsdruck": "1.2 bar",
                  "Konzentration": "99.8 Gew.-%"
                },
                "Schwefelsäure": {
                  "MinBetriebstemperatur": "20 °C",
                  "MaxBetriebstemperatur": "100 °C",
                  "MinBetriebsdruck": "1 bar",
                  "MaxBetriebsdruck": "1.2 bar",
                  "Konzentration": "98 Gew.-%",
                  "Einsatzmenge": "1 Gew.-% bezogen auf Edukte"
                },
                "Ethylacetat": {
                  "MinBetriebstemperatur": "77 °C",
                  "MaxBetriebstemperatur": "100 °C",
                  "MinBetriebsdruck": "0.1 bar",
                  "MaxBetriebsdruck": "1.2 bar",
                  "Reinheit": "> 99.5 Gew.-%"
                }
              },
              "manufacturerData": {
                "manufacturer": "Pfaudler GmbH",
                "modelType": "AE-500-6-SS",
                "serialNumber": "PF-2019-0847",
                "yearOfManufacture": "2019"
              },
              "masterData": {
                "technicalLocation": "DE-PROD-B-R1-001",
                "equipmentNumber": "EQ-10045892",
                "assetId": "A-2019-0234",
                "maintenanceGroup": "MG-REAKTOREN"
              },
              "additionalInfo": {
                "processDescription": "Säurekatalysierte Veresterung von Ethanol mit Essigsäure zu Ethylacetat",
                "operatingMode": "Batch",
                "notes": "Reaktor wurde 2023 komplett überholt (Neuemaillierung). Nächste große Revision 2028.",
                "investmentCosts": "185000 EUR",
                "customFields": {
                  "Letzte_TÜV_Prüfung": "2024-03-15",
                  "Nächste_TÜV_Prüfung": "2027-03-15",
                  "Druckgeräterichtlinie": "2014/68/EU",
                  "CE_Kennzeichnung": "CE-0044",
                  "Inbetriebnahme": "2019-06-01"
                }
              },
              "connectedSystems": {
                "upstream": [
                  "Dosiersystem DS-200"
                ],
                "downstream": [
                  "Produkttank T-301",
                  "Abwasserbehandlung"
                ]
              }
            },
            {
              "name": "Dosiersystem DS-200",
              "type": "main",
              "description": "Vollautomatische Dosierung mit Flow-Regelung, DCS-Integration",
              "location": {
                "site": "Produktionswerk Süd",
                "building": "Produktionshalle B",
                "room": "Reaktorraum R1",
                "floor": "EG",
                "area": "Dosierbereich",
                "isOutdoor": false
              },
              "parameters": {
                "Automation": "Vollautomatisch (DCS)",
                "ExZone": "Zone 1"
              },
              "designData": [
                {
                  "key": "MinTemperatur",
                  "label": "Min. Temperatur",
                  "value": "5",
                  "unit": "°C"
                },
                {
                  "key": "MaxTemperatur",
                  "label": "Max. Temperatur",
                  "value": "60",
                  "unit": "°C"
                },
                {
                  "key": "MinDruck",
                  "label": "Min. Druck",
                  "value": "0",
                  "unit": "bar"
                },
                {
                  "key": "MaxDruck",
                  "label": "Max. Druck",
                  "value": "6",
                  "unit": "bar"
                },
                {
                  "key": "Nennvolumen",
                  "label": "Nennvolumen (Vorlagen)",
                  "value": "2 x 200",
                  "unit": "L"
                },
                {
                  "key": "Material",
                  "label": "Material",
                  "value": "Stainless Steel 1.4571 (316Ti)",
                  "unit": ""
                }
              ],
              "processConditions": {
                "Betriebstemperatur": "20 °C",
                "MinBetriebstemperatur": "15 °C",
                "MaxBetriebstemperatur": "30 °C",
                "Betriebsdruck": "3 bar",
                "MinBetriebsdruck": "2 bar",
                "MaxBetriebsdruck": "5 bar"
              },
              "hasCompleteDesignData": true,
              "hasExtendedParameters": true,
              "createdBy": "user",
              "equipment": [
                {
                  "name": "Vorlagebehälter VB-201",
                  "type": "Edelstahl-Tank",
                  "position": "Eingang",
                  "driveType": null,
                  "parameters": {
                    "Volumen": "200 L",
                    "Inhalt": "Ethanol",
                    "Material": "1.4571",
                    "Druckauslegung": "atmosphärisch"
                  }
                },
                {
                  "name": "Vorlagebehälter VB-202",
                  "type": "Edelstahl-Tank",
                  "position": "Eingang",
                  "driveType": null,
                  "parameters": {
                    "Volumen": "200 L",
                    "Inhalt": "Essigsäure",
                    "Material": "1.4571",
                    "Druckauslegung": "atmosphärisch"
                  }
                },
                {
                  "name": "Dosierpumpe P-201",
                  "type": "Membranpumpe",
                  "position": "Ausgang VB-201",
                  "driveType": "elektrisch",
                  "parameters": {
                    "MaxDurchfluss": "50 L/h",
                    "MinDurchfluss": "5 L/h",
                    "Förderdruck": "6 bar",
                    "ExSchutz": "ATEX Zone 1",
                    "Leistung": "0.75 kW"
                  }
                },
                {
                  "name": "Dosierpumpe P-202",
                  "type": "Membranpumpe",
                  "position": "Ausgang VB-202",
                  "driveType": "elektrisch",
                  "parameters": {
                    "MaxDurchfluss": "50 L/h",
                    "MinDurchfluss": "5 L/h",
                    "Förderdruck": "6 bar",
                    "ExSchutz": "ATEX Zone 1",
                    "Leistung": "0.75 kW"
                  }
                },
                {
                  "name": "Katalysatordosierung KD-203",
                  "type": "Dosierstation",
                  "position": "Nebenleitung",
                  "driveType": "pneumatisch",
                  "parameters": {
                    "MaxDurchfluss": "1 L/h",
                    "MinDurchfluss": "0.1 L/h",
                    "Förderdruck": "3 bar",
                    "Inhalt": "Schwefelsäure 98 %"
                  }
                }
              ],
              "msrEquipment": [
                {
                  "name": "FIC-404",
                  "type": "Durchflussmesser",
                  "position": "Ausgang P-201",
                  "signalType": "4-20 mA",
                  "sil": null,
                  "atex": "Zone 1",
                  "ipRating": "IP65",
                  "parameters": {
                    "Messbereich": "0 bis 100 L/h",
                    "Messprinzip": "Coriolis",
                    "Regelung": "PID",
                    "Genauigkeit": "±0.1 %"
                  }
                },
                {
                  "name": "FIC-405",
                  "type": "Durchflussmesser",
                  "position": "Ausgang P-202",
                  "signalType": "4-20 mA",
                  "sil": null,
                  "atex": "Zone 1",
                  "ipRating": "IP65",
                  "parameters": {
                    "Messbereich": "0 bis 100 L/h",
                    "Messprinzip": "Coriolis",
                    "Regelung": "PID",
                    "Genauigkeit": "±0.1 %"
                  }
                },
                {
                  "name": "LI-201",
                  "type": "Füllstandsanzeige",
                  "position": "VB-201",
                  "signalType": "4-20 mA",
                  "sil": null,
                  "atex": "Zone 1",
                  "ipRating": "IP65",
                  "parameters": {
                    "Messbereich": "0 bis 200 L",
                    "Messprinzip": "Hydrostatisch"
                  }
                },
                {
                  "name": "LI-202",
                  "type": "Füllstandsanzeige",
                  "position": "VB-202",
                  "signalType": "4-20 mA",
                  "sil": null,
                  "atex": "Zone 1",
                  "ipRating": "IP65",
                  "parameters": {
                    "Messbereich": "0 bis 200 L",
                    "Messprinzip": "Hydrostatisch"
                  }
                },
                {
                  "name": "LSLL-201",
                  "type": "Füllstandsschalter",
                  "position": "VB-201",
                  "signalType": "Relais",
                  "sil": "SIL-1",
                  "atex": "Zone 1",
                  "ipRating": "IP65",
                  "parameters": {
                    "Schaltpunkt": "20 L",
                    "Messprinzip": "Vibration",
                    "Funktion": "Trockenlaufschutz Pumpe"
                  }
                },
                {
                  "name": "LSLL-202",
                  "type": "Füllstandsschalter",
                  "position": "VB-202",
                  "signalType": "Relais",
                  "sil": "SIL-1",
                  "atex": "Zone 1",
                  "ipRating": "IP65",
                  "parameters": {
                    "Schaltpunkt": "20 L",
                    "Messprinzip": "Vibration",
                    "Funktion": "Trockenlaufschutz Pumpe"
                  }
                }
              ],
              "securityFeatures": [
                {
                  "name": "Auffangwanne AW-200",
                  "type": "Auffangwanne",
                  "position": "Unter Dosiersystem",
                  "parameters": {
                    "Volumen": "500 L",
                    "Material": "Edelstahl 1.4571",
                    "Leckagesensor": "Ja"
                  }
                }
              ],
              "substances": {
                "feedstocks": [
                  "Ethanol",
                  "Essigsäure",
                  "Schwefelsäure"
                ],
                "intermediates": [],
                "products": [],
                "unassigned": []
              },
              "substanceProcessConditions": {
                "Ethanol": {
                  "MinBetriebstemperatur": "15 °C",
                  "MaxBetriebstemperatur": "30 °C",
                  "MinBetriebsdruck": "2 bar",
                  "MaxBetriebsdruck": "5 bar"
                },
                "Essigsäure": {
                  "MinBetriebstemperatur": "15 °C",
                  "MaxBetriebstemperatur": "30 °C",
                  "MinBetriebsdruck": "2 bar",
                  "MaxBetriebsdruck": "5 bar"
                },
                "Schwefelsäure": {
                  "MinBetriebstemperatur": "20 °C",
                  "MaxBetriebstemperatur": "25 °C",
                  "MinBetriebsdruck": "1 bar",
                  "MaxBetriebsdruck": "3 bar"
                }
              },
              "manufacturerData": {
                "manufacturer": "ProMinent GmbH",
                "modelType": "Sigma Control Skid",
                "serialNumber": "PRO-2020-1234",
                "yearOfManufacture": "2020"
              },
              "masterData": {
                "technicalLocation": "DE-PROD-B-R1-002",
                "equipmentNumber": "EQ-10045893",
                "assetId": "A-2020-0089",
                "maintenanceGroup": "MG-DOSIERUNG"
              },
              "additionalInfo": {
                "processDescription": "Automatische Dosierung der Edukte Ethanol und Essigsäure sowie des Katalysators Schwefelsäure",
                "operatingMode": "Batch",
                "notes": "Membranwechsel Pumpen alle 2000 Betriebsstunden",
                "investmentCosts": "45000 EUR",
                "customFields": {
                  "Letzte_Kalibrierung": "2024-01-10",
                  "Nächste_Kalibrierung": "2025-01-10",
                  "DCS_Anbindung": "Siemens PCS7",
                  "Inbetriebnahme": "2020-03-15"
                }
              },
              "connectedSystems": {
                "upstream": [
                  "Tanklager Ethanol",
                  "Tanklager Essigsäure"
                ],
                "downstream": [
                  "Synthesereaktor R-101"
                ]
              }
            },
            {
              "name": "Mediensystem MS-300",
              "type": "main",
              "description": "Versorgung mit Dampf, Kühlwasser, Vakuum und Stickstoff",
              "location": {
                "site": "Produktionswerk Süd",
                "building": "Produktionshalle B",
                "room": "Technikraum T1",
                "floor": "EG",
                "area": "Medienversorgung",
                "isOutdoor": false
              },
              "parameters": {
                "Dampf": "Sattdampf 6 bar",
                "Kühlwasser": "Kreislauf 15 °C",
                "Stickstoff": "Rohrnetz 5 bar",
                "Vakuum": "0.1 bar abs"
              },
              "designData": [
                {
                  "key": "MinTemperatur",
                  "label": "Min. Temperatur",
                  "value": "-10",
                  "unit": "°C"
                },
                {
                  "key": "MaxTemperatur",
                  "label": "Max. Temperatur",
                  "value": "180",
                  "unit": "°C"
                },
                {
                  "key": "MinDruck",
                  "label": "Min. Druck",
                  "value": "0",
                  "unit": "bar"
                },
                {
                  "key": "MaxDruck",
                  "label": "Max. Druck",
                  "value": "8",
                  "unit": "bar"
                }
              ],
              "processConditions": {
                "Betriebstemperatur": "15 °C",
                "MinBetriebstemperatur": "10 °C",
                "MaxBetriebstemperatur": "160 °C",
                "Betriebsdruck": "3 bar",
                "MinBetriebsdruck": "0.1 bar",
                "MaxBetriebsdruck": "6 bar"
              },
              "hasCompleteDesignData": true,
              "hasExtendedParameters": true,
              "createdBy": "user",
              "equipment": [
                {
                  "name": "Dampfversorgung DV-301",
                  "type": "Dampfnetz",
                  "position": "Eingang",
                  "driveType": null,
                  "parameters": {
                    "Druck": "6 bar",
                    "Temperatur": "160 °C",
                    "Medium": "Sattdampf",
                    "MaxDurchsatz": "500 kg/h"
                  }
                },
                {
                  "name": "Dampfverteiler DV-302",
                  "type": "Dampfverteiler",
                  "position": "Zentral",
                  "driveType": null,
                  "parameters": {
                    "Anschlüsse": "4 x DN25",
                    "Kondensatableiter": "Thermodynamisch"
                  }
                },
                {
                  "name": "Kühlwasserversorgung KW-301",
                  "type": "Kühlwasserkreislauf",
                  "position": "Eingang",
                  "driveType": null,
                  "parameters": {
                    "VorlaufTemperatur": "15 °C",
                    "RücklaufTemperatur": "25 °C",
                    "Druck": "3 bar",
                    "MaxDurchsatz": "10 m³/h"
                  }
                },
                {
                  "name": "Notkühlsystem NK-301",
                  "type": "Solekreislauf",
                  "position": "Backup",
                  "driveType": null,
                  "parameters": {
                    "Temperatur": "-10 °C",
                    "Medium": "Ethylenglykol 30 %",
                    "Druck": "3 bar",
                    "MaxDurchsatz": "5 m³/h"
                  }
                },
                {
                  "name": "Vakuumpumpe VP-301",
                  "type": "Flüssigkeitsring-Vakuumpumpe",
                  "position": "Zentral",
                  "driveType": "elektrisch",
                  "parameters": {
                    "Enddruck": "0.1 bar (abs)",
                    "Saugleistung": "100 m³/h",
                    "Leistung": "4 kW",
                    "Sperrflüssigkeit": "Wasser"
                  }
                },
                {
                  "name": "Stickstoffversorgung N2-301",
                  "type": "Stickstoffnetz",
                  "position": "Eingang",
                  "driveType": null,
                  "parameters": {
                    "Druck": "5 bar",
                    "Reinheit": "99.9 %",
                    "MaxDurchsatz": "50 Nm³/h"
                  }
                }
              ],
              "msrEquipment": [
                {
                  "name": "PI-301",
                  "type": "Druckanzeige",
                  "position": "Dampfeingang",
                  "signalType": "Lokal",
                  "sil": null,
                  "atex": null,
                  "ipRating": "IP65",
                  "parameters": {
                    "Messbereich": "0 bis 10 bar"
                  }
                },
                {
                  "name": "TI-301",
                  "type": "Temperaturanzeige",
                  "position": "Dampfeingang",
                  "signalType": "Lokal",
                  "sil": null,
                  "atex": null,
                  "ipRating": "IP65",
                  "parameters": {
                    "Messbereich": "0 bis 200 °C"
                  }
                },
                {
                  "name": "PI-302",
                  "type": "Druckanzeige",
                  "position": "Kühlwasser",
                  "signalType": "4-20 mA",
                  "sil": null,
                  "atex": null,
                  "ipRating": "IP65",
                  "parameters": {
                    "Messbereich": "0 bis 6 bar"
                  }
                },
                {
                  "name": "TI-302",
                  "type": "Temperaturanzeige",
                  "position": "Kühlwasser Vorlauf",
                  "signalType": "4-20 mA",
                  "sil": null,
                  "atex": null,
                  "ipRating": "IP65",
                  "parameters": {
                    "Messbereich": "0 bis 50 °C"
                  }
                },
                {
                  "name": "TI-303",
                  "type": "Temperaturanzeige",
                  "position": "Kühlwasser Rücklauf",
                  "signalType": "4-20 mA",
                  "sil": null,
                  "atex": null,
                  "ipRating": "IP65",
                  "parameters": {
                    "Messbereich": "0 bis 50 °C"
                  }
                },
                {
                  "name": "PI-304",
                  "type": "Vakuumanzeige",
                  "position": "Vakuumnetz",
                  "signalType": "4-20 mA",
                  "sil": null,
                  "atex": null,
                  "ipRating": "IP65",
                  "parameters": {
                    "Messbereich": "0 bis 1 bar (abs)"
                  }
                }
              ],
              "securityFeatures": [
                {
                  "name": "PSV-310",
                  "type": "Sicherheitsventil",
                  "position": "Dampfverteiler",
                  "parameters": {
                    "Ansprechdruck": "7 bar",
                    "Nenndurchmesser": "DN25"
                  }
                }
              ],
              "substances": {
                "feedstocks": [],
                "intermediates": [],
                "products": [],
                "unassigned": []
              },
              "substanceProcessConditions": {},
              "manufacturerData": {
                "manufacturer": "Diverse",
                "modelType": "Skid-Anlage",
                "serialNumber": "MS-2019-001",
                "yearOfManufacture": "2019"
              },
              "masterData": {
                "technicalLocation": "DE-PROD-B-T1-003",
                "equipmentNumber": "EQ-10045894",
                "assetId": "A-2019-0235",
                "maintenanceGroup": "MG-VERSORGUNG"
              },
              "additionalInfo": {
                "processDescription": "Zentrale Medienversorgung für Synthesereaktor R-101",
                "operatingMode": "Kontinuierlich",
                "notes": "Vakuumpumpe Ölwechsel alle 3000 Betriebsstunden. Kühlwasser-Wasseraufbereitung monatlich prüfen.",
                "investmentCosts": "95000 EUR",
                "customFields": {
                  "Letzte_Wartung": "2024-02-01",
                  "Nächste_Wartung": "2024-08-01",
                  "Dampfkessel_Prüfung": "2023-11-15",
                  "Inbetriebnahme": "2019-06-01"
                }
              },
              "connectedSystems": {
                "upstream": [
                  "Dampfkessel",
                  "Kältezentrale",
                  "Stickstoff-Tank"
                ],
                "downstream": [
                  "Synthesereaktor R-101",
                  "Dosiersystem DS-200"
                ]
              }
            }
          ],
          "feedstocks": [
            {
              "name": "Ethanol",
              "category": "feedstock",
              "categories": [
                "flammable",
                "solvent"
              ],
              "properties": "Brennbar (Flammpunkt 13 °C), wasserlöslich, Siedepunkt 78 °C",
              "isGeneric": false,
              "needsSpecification": false,
              "MinBetriebstemperatur": "15 °C",
              "MaxBetriebstemperatur": "78 °C",
              "MinBetriebsdruck": "1 bar",
              "MaxBetriebsdruck": "6 bar",
              "parameters": {
                "casNumber": "64-17-5",
                "molWeight": "46.07 g/mol",
                "density": "0.789 g/cm³",
                "boilingPoint": "78.3 °C",
                "meltingPoint": "-114.1 °C",
                "flashPoint": "13 °C",
                "autoIgnitionTemp": "363 °C",
                "lowerExplosionLimit": "3.5 Vol.-%",
                "upperExplosionLimit": "15 Vol.-%",
                "vaporPressure20C": "59 hPa",
                "heatOfVapor": "838 kJ/kg",
                "specificHeat": "2.44 kJ/(kg·K)",
                "viscosity20C": "1.2 mPa·s",
                "thermalConductivity": "0.171 W/(m·K)",
                "surfaceTension": "22.1 mN/m",
                "solubilityWater": "vollständig mischbar",
                "hPhrases": "H225, H319",
                "pPhrases": "P210, P233, P240, P241, P242, P243, P264, P280, P303+P361+P353, P305+P351+P338, P337+P313, P370+P378, P403+P235, P501",
                "ghs": "GHS02, GHS07",
                "signalWord": "Gefahr",
                "wgk": "1",
                "agwMak": "200 ppm / 380 mg/m³"
              },
              "dataSource": "pubchem",
              "dataSourceId": "CID702"
            },
            {
              "name": "Essigsäure",
              "category": "feedstock",
              "categories": [
                "acid",
                "corrosive",
                "flammable"
              ],
              "properties": "Korrosiv, brennbar (Flammpunkt 39 °C), Siedepunkt 118 °C",
              "isGeneric": false,
              "needsSpecification": false,
              "MinBetriebstemperatur": "15 °C",
              "MaxBetriebstemperatur": "118 °C",
              "MinBetriebsdruck": "1 bar",
              "MaxBetriebsdruck": "6 bar",
              "parameters": {
                "casNumber": "64-19-7",
                "molWeight": "60.05 g/mol",
                "density": "1.049 g/cm³",
                "boilingPoint": "118.1 °C",
                "meltingPoint": "16.6 °C",
                "flashPoint": "39 °C",
                "autoIgnitionTemp": "463 °C",
                "lowerExplosionLimit": "4 Vol.-%",
                "upperExplosionLimit": "19.9 Vol.-%",
                "vaporPressure20C": "15.6 hPa",
                "heatOfVapor": "405 kJ/kg",
                "specificHeat": "2.05 kJ/(kg·K)",
                "viscosity20C": "1.22 mPa·s",
                "thermalConductivity": "0.171 W/(m·K)",
                "surfaceTension": "27.6 mN/m",
                "solubilityWater": "vollständig mischbar",
                "phValue": "2.4 (1 M)",
                "pKa": "4.76",
                "hPhrases": "H226, H314",
                "pPhrases": "P210, P280, P301+P330+P331, P303+P361+P353, P305+P351+P338, P310",
                "ghs": "GHS02, GHS05",
                "signalWord": "Gefahr",
                "wgk": "1",
                "agwMak": "10 ppm / 25 mg/m³"
              },
              "dataSource": "pubchem",
              "dataSourceId": "CID176"
            },
            {
              "name": "Schwefelsäure",
              "category": "feedstock",
              "categories": [
                "acid",
                "corrosive",
                "oxidizing"
              ],
              "properties": "Stark ätzend, Katalysator für Esterifizierung, nicht brennbar",
              "isGeneric": false,
              "needsSpecification": false,
              "MinBetriebstemperatur": "20 °C",
              "MaxBetriebstemperatur": "100 °C",
              "MinBetriebsdruck": "1 bar",
              "MaxBetriebsdruck": "3 bar",
              "parameters": {
                "casNumber": "7664-93-9",
                "molWeight": "98.08 g/mol",
                "density": "1.84 g/cm³",
                "boilingPoint": "337 °C",
                "meltingPoint": "10.4 °C",
                "flashPoint": "nicht anwendbar",
                "autoIgnitionTemp": "nicht anwendbar",
                "lowerExplosionLimit": "nicht anwendbar",
                "upperExplosionLimit": "nicht anwendbar",
                "vaporPressure20C": "0.001 hPa",
                "heatOfVapor": "511 kJ/kg",
                "specificHeat": "1.4 kJ/(kg·K)",
                "viscosity20C": "25.4 mPa·s",
                "thermalConductivity": "0.36 W/(m·K)",
                "solubilityWater": "vollständig mischbar (stark exotherm!)",
                "phValue": "-0.3 (konz.)",
                "hPhrases": "H290, H314",
                "pPhrases": "P260, P264, P280, P301+P330+P331, P303+P361+P353, P304+P340, P305+P351+P338, P310, P321, P363, P390, P405, P501",
                "ghs": "GHS05",
                "signalWord": "Gefahr",
                "wgk": "1",
                "agwMak": "0.1 mg/m³ (einatembare Fraktion)"
              },
              "dataSource": "pubchem",
              "dataSourceId": "CID1118"
            }
          ],
          "products": [
            {
              "name": "Ethylacetat",
              "category": "product",
              "categories": [
                "flammable",
                "solvent"
              ],
              "properties": "Sehr brennbar (Flammpunkt -4 °C), Lösemittel, Siedepunkt 77 °C, fruchtiger Geruch",
              "isGeneric": false,
              "needsSpecification": false,
              "MinBetriebstemperatur": "20 °C",
              "MaxBetriebstemperatur": "77 °C",
              "MinBetriebsdruck": "0.1 bar",
              "MaxBetriebsdruck": "1.2 bar",
              "parameters": {
                "casNumber": "141-78-6",
                "molWeight": "88.11 g/mol",
                "density": "0.902 g/cm³",
                "boilingPoint": "77.1 °C",
                "meltingPoint": "-83.6 °C",
                "flashPoint": "-4 °C",
                "autoIgnitionTemp": "427 °C",
                "lowerExplosionLimit": "2 Vol.-%",
                "upperExplosionLimit": "11.5 Vol.-%",
                "vaporPressure20C": "97 hPa",
                "heatOfVapor": "368 kJ/kg",
                "specificHeat": "1.92 kJ/(kg·K)",
                "viscosity20C": "0.45 mPa·s",
                "thermalConductivity": "0.145 W/(m·K)",
                "surfaceTension": "23.4 mN/m",
                "solubilityWater": "87 g/L bei 20 °C",
                "hPhrases": "H225, H319, H336, EUH066",
                "pPhrases": "P210, P233, P240, P241, P242, P243, P261, P264, P271, P280, P303+P361+P353, P304+P340, P305+P351+P338, P312, P337+P313, P370+P378, P403+P233, P403+P235, P501",
                "ghs": "GHS02, GHS07",
                "signalWord": "Gefahr",
                "wgk": "1",
                "agwMak": "200 ppm / 734 mg/m³"
              },
              "dataSource": "pubchem",
              "dataSourceId": "CID8857"
            }
          ],
          "byproducts": [
            {
              "name": "Wasser",
              "category": "byproduct",
              "categories": [
                "neutral"
              ],
              "properties": "Neutral, Nebenprodukt der Esterifizierung",
              "isGeneric": false,
              "needsSpecification": false,
              "MinBetriebstemperatur": "20 °C",
              "MaxBetriebstemperatur": "100 °C",
              "MinBetriebsdruck": "0.1 bar",
              "MaxBetriebsdruck": "1.2 bar",
              "parameters": {
                "casNumber": "7732-18-5",
                "molWeight": "18.02 g/mol",
                "density": "1.000 g/cm³",
                "boilingPoint": "100 °C",
                "meltingPoint": "0 °C",
                "flashPoint": "nicht anwendbar",
                "autoIgnitionTemp": "nicht anwendbar",
                "lowerExplosionLimit": "nicht anwendbar",
                "upperExplosionLimit": "nicht anwendbar",
                "vaporPressure20C": "23.4 hPa",
                "heatOfVapor": "2257 kJ/kg",
                "specificHeat": "4.18 kJ/(kg·K)",
                "viscosity20C": "1.0 mPa·s",
                "thermalConductivity": "0.598 W/(m·K)",
                "surfaceTension": "72.8 mN/m",
                "phValue": "7.0",
                "hPhrases": "keine",
                "pPhrases": "keine",
                "ghs": "keine",
                "signalWord": "keine",
                "wgk": "nwg"
              },
              "dataSource": "pubchem",
              "dataSourceId": "CID962"
            }
          ],
          "media": [
            {
              "name": "Sattdampf",
              "category": "heating-cooling",
              "MinBetriebstemperatur": "150 °C",
              "MaxBetriebstemperatur": "165 °C",
              "MinBetriebsdruck": "4 bar",
              "MaxBetriebsdruck": "6 bar",
              "parameters": {
                "Druck": "6 bar",
                "Temperatur": "160 °C",
                "Enthalpie": "2756 kJ/kg",
                "Kondensatmenge": "ca. 200 kg/Batch"
              }
            },
            {
              "name": "Kühlwasser",
              "category": "heating-cooling",
              "MinBetriebstemperatur": "12 °C",
              "MaxBetriebstemperatur": "25 °C",
              "MinBetriebsdruck": "2 bar",
              "MaxBetriebsdruck": "4 bar",
              "parameters": {
                "Vorlauftemperatur": "15 °C",
                "Rücklauftemperatur": "max. 25 °C",
                "Druck": "3 bar",
                "Durchfluss": "max. 10 m³/h",
                "Wasserqualität": "enthärtet"
              }
            },
            {
              "name": "Notkühlung (Sole)",
              "category": "heating-cooling",
              "MinBetriebstemperatur": "-15 °C",
              "MaxBetriebstemperatur": "0 °C",
              "MinBetriebsdruck": "2 bar",
              "MaxBetriebsdruck": "4 bar",
              "parameters": {
                "Temperatur": "-10 °C",
                "Medium": "Ethylenglykol 30 %",
                "Druck": "3 bar",
                "Durchfluss": "max. 5 m³/h",
                "Einsatz": "Nur bei Notfall/Runaway"
              }
            },
            {
              "name": "Stickstoff",
              "category": "gas",
              "MinBetriebstemperatur": "15 °C",
              "MaxBetriebstemperatur": "25 °C",
              "MinBetriebsdruck": "4 bar",
              "MaxBetriebsdruck": "6 bar",
              "parameters": {
                "Druck": "5 bar",
                "Reinheit": "99.9 %",
                "Verbrauch": "ca. 10 Nm³/Batch",
                "Verwendung": "Inertisierung, Förderung"
              }
            },
            {
              "name": "Vakuum",
              "category": "vacuum",
              "MinBetriebstemperatur": "20 °C",
              "MaxBetriebstemperatur": "40 °C",
              "MinBetriebsdruck": "0.05 bar (abs)",
              "MaxBetriebsdruck": "0.3 bar (abs)",
              "parameters": {
                "Enddruck": "0.1 bar (abs)",
                "Saugleistung": "100 m³/h",
                "Verwendung": "Vakuumdestillation"
              }
            },
            {
              "name": "Druckluft",
              "category": "compressed-air",
              "MinBetriebstemperatur": "15 °C",
              "MaxBetriebstemperatur": "30 °C",
              "MinBetriebsdruck": "5 bar",
              "MaxBetriebsdruck": "7 bar",
              "parameters": {
                "Druck": "6 bar",
                "Qualität": "Klasse 1.4.1 nach ISO 8573-1",
                "Verwendung": "Pneumatische Antriebe, Regelventile"
              }
            },
            {
              "name": "Elektrische Versorgung",
              "category": "electricity",
              "MinBetriebstemperatur": "nicht anwendbar",
              "MaxBetriebstemperatur": "nicht anwendbar",
              "MinBetriebsdruck": "nicht anwendbar",
              "MaxBetriebsdruck": "nicht anwendbar",
              "parameters": {
                "Spannung": "400 V / 3-phasig",
                "Frequenz": "50 Hz",
                "Anschlussleistung": "25 kW",
                "USV": "Ja (für Steuerung)"
              }
            }
          ],
          "utilities": [
            {
              "name": "DCS (Prozessleitsystem)",
              "type": "Automation",
              "parameters": {
                "Hersteller": "Siemens",
                "System": "PCS7 V9.1",
                "Redundanz": "CPU-Redundanz",
                "Notbetrieb": "Fail-safe"
              }
            },
            {
              "name": "SIS (Sicherheitssystem)",
              "type": "Safety",
              "parameters": {
                "Hersteller": "Siemens",
                "System": "S7-400F",
                "SIL": "SIL-2",
                "Funktionen": "NOT-AUS, LSHH, TSHH, PSHH"
              }
            },
            {
              "name": "Gaswarnsystem",
              "type": "Safety",
              "parameters": {
                "Hersteller": "Dräger",
                "Sensoren": "Ethanol, LEL",
                "Alarmschwellen": "20 % UEG / 40 % UEG",
                "Reaktion": "Alarm / Abschaltung"
              }
            }
          ],
          "outOfScope": {
            "excludedSystems": [
              "Tanklager Rohstoffe",
              "Produkttanklager",
              "Abwasserbehandlung",
              "Fackelanlage",
              "Gebäudetechnik (Lüftung, Heizung)"
            ],
            "description": "Die folgenden Systeme sind nicht Bestandteil dieser Risikoanalyse, da sie separat betrachtet werden: Tanklager (separate Genehmigung), Abwasserbehandlung (eigene Anlage), Fackelanlage (zentrale Einrichtung), Gebäudetechnik (nicht prozessrelevant)."
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Anlagendaten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anlagendaten": {
      "main": [
        [
          {
            "node": "Input Validation & Planning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Function Analysis (LLM)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Failure Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Failure Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Build Optimization LLM Request",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Input Validation & Planning": {
      "main": [
        [
          {
            "node": "Structure Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Analysis": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Prepare LLM Request Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Request Body": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function Analysis (LLM)": {
      "main": [
        [
          {
            "node": "Parse Function Analysis Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Function Analysis Response": {
      "main": [
        [
          {
            "node": "Kombination mit Anlagendaten1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Failure Analysis LLM Request (Stabilisiert)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Failure Analysis": {
      "main": [
        [
          {
            "node": "Korrigierter Parser für FMEA-Analyse Struktur",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Korrigierter Parser für FMEA-Analyse Struktur": {
      "main": [
        [
          {
            "node": "Kombination mit Anlagendaten2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Optimizations (KORRIGIERT)": {
      "main": [
        [
          {
            "node": "Results Assembly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Results Assembly": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Optimization LLM Request (BEREINIGT)": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Optimization LLM Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Parse Maßnahmen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Failure Templates": {
      "main": [
        [
          {
            "node": "Build Failure Analysis LLM Request (Stabilisiert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Build Optimization LLM Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RPZ-Rechner": {
      "main": [
        [
          {
            "node": "Override - Manuelle Anpassung anhand Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Override - Manuelle Anpassung anhand Keywords": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Werte Gefahrenklassen": {
      "main": [
        [
          {
            "node": "RPZ-Rechner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Build Optimization LLM Request (BEREINIGT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Optimizations (LLM Chain Version)": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge All Optimizations (KORRIGIERT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 4
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 5
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 6
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 7
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 8
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Fehlermatrix u. -zuordnung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fehlermatrix u. -zuordnung": {
      "main": [
        [
          {
            "node": "📋 Failure Templates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kombination mit Anlagendaten2": {
      "main": [
        [
          {
            "node": "Werte Gefahrenklassen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kombination mit Anlagendaten1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Maßnahmen": {
      "main": [
        [
          {
            "node": "Collect Optimizations (LLM Chain Version)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Function Analysis (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4602041e-82d0-4fe5-938e-6218c3ed9fff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "abbcca684a1079cebaa2a58492fcb01f93d0689f4705c6f92c3b7a1ea5820c3f"
  },
  "id": "XgVNgu7PZFrmZjzi",
  "tags": []
}